<h1>Listing referred_bies</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Is other</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @referred_bies.each do |referred_by| %>
  <tr>
    <td><%= referred_by.description %></td>
    <td><%= referred_by.is_other %></td>
    <td><%= link_to 'Show', referred_by %></td>
    <td><%= link_to 'Edit', edit_referred_by_path(referred_by) %></td>
    <td><%= link_to 'Destroy', referred_by, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Referred by', new_referred_by_path %>
&nbsp; | &nbsp; <a href="/top/db">All DB tables</a>
