<%= form_for(@payment_method) do |f| %>
  <% if @payment_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_method.errors.count, "error") %> prohibited this payment_method from being saved:</h2>

      <ul>
      <% @payment_method.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br />
    <%= select("payment_method", "customer_id", @customerCollect,
                                          {prompt: 'Select Customer'}) %>
  </div>
  <div class="field">
    <%= f.label :paytype %><br />
    <%= select("payment_method", "payment_type_id", @paymentTypeCollect,
                                          {prompt: 'Select Payment Type'}) %>
  </div>
  <div class="field">
    <%= f.label :priority, 'Preference order (1 first)' %><br />
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :account_number_id, 'Reference on Payment server' %><br />
    <%= f.number_field :account_number_id %>
  </div>
  <div class="field">
    <%= f.label :routing_number %><br />
    <%= f.text_field :routing_number %>
  </div>
  <div class="field">
    <%= f.label :expiration_month %><br />
    <%= f.number_field :expiration_month %>
  </div>
  <div class="field">
    <%= f.label :expiration_year %><br />
    <%= f.number_field :expiration_year %>
  </div>
  <div class="field">
    <%= f.label :image_id %><br />
    <%= f.number_field :image_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
