<%= form_for(@service_journal) do |f| %>
  <% if @service_journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_journal.errors.count, "error") %> prohibited this service_journal from being saved:</h2>

      <ul>
      <% @service_journal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :service_visit_id %><font color="#800000">*</font><br />
    <%= select("service_journal", "service_visit_id", 
                    @serviceVisitCollect, {prompt: 'Select Service Visit'}) %>
  </div>
  <div class="field">
    <%= f.label :event_id %><font color="#800000">*</font><br />
    <%= select("service_journal", "event_id", 
                    @serviceJournalsEventCollect, {prompt: 'Select Event'}) %>
  </div>
  <div class="field">
    <%= f.label :date_time %><font color="#800000">*</font><br />
    <%= f.datetime_select :date_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
