<h2>Listing service_journals</h2>

<table border="1" class="ft_dbtab">
  <tr bgcolor="#F0FFF0">
    <th>Service visit</th>
    <th>Event</th>
    <th>Date time</th>
    <th colspan="3"><i>Actions</i></th>
  </tr>

<% @service_journals.each do |service_journal| %>
  <tr>
    <td><%= service_journal.service_visit.visitText %></td>
    <td><%= service_journal.event_id %></td>
    <td><%= service_journal.date_time.strftime("%H:%M %b %d, %Y") %></td>
    <td><%= link_to 'Show', service_journal %></td>
    <td><%= link_to 'Edit', edit_service_journal_path(service_journal) %></td>
    <td><%= link_to 'Destroy', service_journal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service journal', new_service_journal_path %>
&nbsp; | &nbsp; <a href="/top/db">All DB tables</a>
