<%= form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :store_id %><br />
    <%= select("inventory", "store_id", @storeCollect,
                                                  {prompt: 'Select Store'}) %>
  </div>
  <div class="field">
    <%= f.label :part_id %><br />
    <%= select("inventory", "part_id", @partCollect,
                                                  {prompt: 'Select Part'}) %>
  </div>
  <div class="field">
    <%= f.label :count %><br />
    <%= f.number_field :count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
