<p id="notice"><%= notice %></p>

<p>
  <b>Store:</b>
  <%= @inventory.store_id %>
</p>

<p>
  <b>Part:</b>
  <%= @inventory.part_id %>
</p>

<p>
  <b>Count:</b>
  <%= @inventory.count %>
</p>


<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
