<h1>Listing models</h1>



<table border="1" class="ft_dbtab">
  <tr bgcolor="#F0FFF0">
    <th>Name</th>
    <th>Make</th>
    <th>First year made</th>
    <th>Last year made</th>
    <th colspan="3"><i>Actions</i></th>
  </tr>

<% @models.each do |model| %>
  <tr>
    <td><%= model.name %></td>
    <td><%= model.make.name %></td>
    <td><%= model.first_year_made %></td>
    <td><%= model.last_year_made %></td>
    <td><%= link_to 'Show', model %></td>
    <td><%= link_to 'Edit', edit_model_path(model) %></td>
    <td><%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Model', new_model_path %>
&nbsp; | &nbsp; <a href="/top/db">All DB tables</a>
