<%= form_for(@submodel) do |f| %>
  <% if @submodel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submodel.errors.count, "error") %> prohibited this submodel from being saved:</h2>

      <ul>
      <% @submodel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= select("submodel", "make_id", 
                    @makeCollect, {prompt: 'Select Make'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
