<h1>Listing submodels</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Make</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @submodels.each do |submodel| %>
  <tr>
    <td><%= submodel.name %></td>
    <td><%= submodel.make_id %></td>
    <td><%= link_to 'Show', submodel %></td>
    <td><%= link_to 'Edit', edit_submodel_path(submodel) %></td>
    <td><%= link_to 'Destroy', submodel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Submodel', new_submodel_path %>
