<h2>Listing submodels</h2>

<table border="1" class="ft_dbtab">
  <tr bgcolor="#F0FFF0">
    <th>Name</th>
    <th>Make</th>
    <th colspan="3"><i>Actions</i></th>
  </tr>

<% @submodels.each do |submodel| %>
  <tr>
    <td><%= submodel.name %></td>
    <td><%= submodel.make.name %></td>
    <td><%= link_to 'Show', submodel %></td>
    <td><%= link_to 'Edit', edit_submodel_path(submodel) %></td>
    <td><%= link_to 'Destroy', submodel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Submodel', new_submodel_path %>
&nbsp; | &nbsp; <a href="/top/db">All DB tables</a>
