<p id="notice"><%= notice %></p>

<p>
  <b>Po number:</b>
  <%= @purchase_order.po_number %>
</p>

<p>
  <b>Vendor:</b>
  <%= @purchase_order.vendor_id %>
</p>

<p>
  <b>Date time:</b>
  <%= @purchase_order.date_time %>
</p>


<%= link_to 'Edit', edit_purchase_order_path(@purchase_order) %> |
<%= link_to 'Back', purchase_orders_path %>
