<h2>Listing salespeople</h2>

<table>
  <tr>
    <th>Employee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @salespeople.each do |salesperson| %>
  <tr>
    <td><%= salesperson.employee.nameText %></td>
    <td><%= link_to 'Show', salesperson %></td>
    <td><%= link_to 'Edit', edit_salesperson_path(salesperson) %></td>
    <td><%= link_to 'Destroy', salesperson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Salesperson', new_salesperson_path %>
&nbsp; | &nbsp; <a href="/top/db">All DB tables</a>
