
Greetings, <%= @employee.first_name %> from FutureTech
===============================================

This is to inform you that your store is in good standing.
Your store is meeting required profit percentage. Please report to the admin with a detailed note on your progress.

<table border="2">
	<tr>
		<th> Technician Name </th>
		<th> Billed Hours </th>
		<th> Retail Hours</th>
		<th> Actual Hours </th>
		<th> Efficiency </th>
		<th> Productivity </th>
		<th> Proficiency </th>
	</tr>
	<% @technician_array.each do|a|%>
	<tr>
		<td> <%= a.technician_id %> </td>
		<td> <%= a.billed_hours %> </td>
		<td> <%= a.retail_hours %> </td>
		<td> <%= a.actual_hours %> </td>
		<td> <%= a.efficiency %> </td>
		<td> <%= a.productivity %> </td>
		<td> <%= a.proficiency %> </td>
	</tr>
	<% end %>

</table>

Overall Technician analytics of your store:

<table border = "5">
	<tr>
		<th> Efficiency </th>
		<th> Productivity </th>
		<th> Proficiency </th>
	</tr>
	<tr>
		<td> <%= @store_eff_flag %> </td>
		<td> <%= @store_prod_flag %> </td>
		<td> <%= @store_prof_flag %> </td>
	</tr>

</table>


Please click the link below to submit feedback.

Thank you. Have a great day!