
<div class="navframe">
  <font color="#000080">
    <B><I>FUTURETECH ANALYTICS</I></B>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="/top/analytics">Home</a> &nbsp; 
    | &nbsp; <a href="/vehicles/search_int1">Search Vehicles</a> &nbsp; 
    | &nbsp; All Vehicles &nbsp; 
    | &nbsp; Search Customers &nbsp; | &nbsp; Stores &nbsp; 
    | &nbsp; Demographics &nbsp; | &nbsp; Help
  </font>
</div>

<div class="periodframe">
  <div class="periodbox">
    <B>Internal Single Vehicle</B> <br />
    Report on time period: &nbsp;
    <input type="radio" name="periodradio" checked="checked" value="ytd">
    Last 12 months
    &nbsp; &nbsp;
    <input type="radio" name="periodradio" value="qtd">
    YTD 2014  
    &nbsp; &nbsp;
    <input type="radio" name="periodradio" value="last12">
    QTD Q4 2014  
    &nbsp; &nbsp;
    <input type="radio" name="periodradio" value="custom">
    From 
    <select id="period_st_month" name="period[st_month]">
      <%= options_for_select(@monthsCollect, @selStMonth) %>
    </select>
    <select id="period_st_day" name="period[st_day]">
      <%= options_for_select(@daysCollect, @selStDay) %>
    </select>
    <select id="period_st_year" name="period[st_year]">
      <%= options_for_select(@yearsCollect, @selStYear) %>
    </select>
    to
    <select id="period_en_month" name="period[en_month]">
      <%= options_for_select(@monthsCollect, @selEnMonth) %>
    </select>
    <select id="period_en_day" name="period[en_day]">
      <%= options_for_select(@daysCollect, @selEnDay) %>
    </select>
    <select id="period_en_year" name="period[en_year]">
      <%= options_for_select(@yearsCollect, @selEnYear) %>
    </select>
    &nbsp; &nbsp;
    <a href="#">TBS Update</a>
  </div>
</div>

<% vcust = @vehicle.customer %>

<div class="vehtopframe">
  <div class="custbox">
    <div class="boxhdr">
      <B>Customer/Owner</B>
    </div>
    <div class="custbox2">
      <table border="1" class="anatab">
	<tr><td>ID# <%= vcust.cid %></td></tr>
	<tr><td><%= customerName2(vcust) %></td></tr>
	<tr><td><%= vcust.street_addr1 %></td></tr>
	<% if vcust.street_addr2 and vcust.street_addr2.length > 1 %>
	  <tr><td><%= vcust.street_addr2 %></td></tr>
	<% end %>
	<tr><td><%= vcust.city %></td></tr>
	<% if vcust.mobile_phone and vcust.mobile_phone.length > 1 %>
	  <tr><td>M: <%= vcust.mobile_phone %></td></tr>
	<% end %>
	<% if vcust.home_phone and vcust.home_phone.length > 1 %>
	  <tr><td>H: <%= vcust.home_phone %></td></tr>
	<% end %>
	<% if vcust.other_phone and vcust.other_phone.length > 1 %>
	  <tr><td>Oth: <%= vcust.other_phone %></td></tr>
	<% end %>
	<tr><td>Member since <%= vcust.joined_date.strftime("%b %d, %Y") %>, 
	        <B><%= @custDays %> days</B></td></tr>
	<tr><td>
	  AAA member? <B><%= boolText(vcust.is_aaa_member) %> </B>
	</td></tr>
	<tr><td>App Installed? <B>TBS</B></td></tr>
	<tr><td>
	  Web Registered? <B><%= boolText(vcust.is_web_registered) %> </B> 
	</td></tr>
	<tr><td>
	  <a id="cust1id" class="show_hide_popover" 
	     title="<%= customerName2(vcust) %>" 
	     data-placement='right' data-trigger="focus" 
	     tabindex="0" href='#'>View Details</a>
	  <a id="xcust1id" class='hide_popover' href='#'>Hide Details</a>
	</td></tr>
	<tr><td>
	  <a id="cust2id" class="show_hide_popover" 
	     title="<%= customerName2(vcust) %>" 
	     data-placement='right' data-trigger="focus" 
	     tabindex="0" href='#'>View History</a>
	  <a id="xcust2id" class='hide_popover' href='#'>Hide Details</a>
	</td></tr>
	<tr><td>
	  Other vehicles: <br>
	  <% if vcust.vehicles.length < 2 %>
	    <i>None</i>
	  <% else %>
	    <% for ve in vcust.vehicles %>
	      <% if ve.id != @vehicle.id %>
	        <a href="/analytics/int1/<%= ve.id %>"><%= ve.ymmpText %></a>
                <br>
	      <% end %>
	    <% end %>
	  <% end %>
	</td></tr>
	<tr><td>
	  <a href='#'>TBS View Contract #<%= @vehicle.contract.number%></a>
	</td></tr>
	<tr><td>
	  <a href='#'>TBS View Classifications</a>
	</td></tr>
	<tr><td>
	  <a href='#'>TBS View Insurance</a>
	</td></tr>
	<tr><td>
	  <a href='#'>TBS Video Testimony</a>
	</td></tr>
	<tr><td>
          <% if @custWrittenTestimony %>
	    <% wturl = '/written_testimonies/showana/' %>
	    <% wturl += @custWrittenTestimony.id.to_s %>
	    <a href="<%= wturl %>">Written Testimony</a>
          <% else %>
            <i>No Written Testimony</i>
          <% end %>
	</td></tr>
      </table>
    </div>
  </div>
  <div id="cust1id_div" style="display: none">
    <table border="1" class="anatab">
      <tr>
	<th colspan="2">Customer Details</th>
      </tr>
      <tr>
	<td>MA ID#</td>
	<td><%= vcust.cid %></td>
      <tr>
	<td>First Name</td>
	<td><%= vcust.first_name %></td>
      </tr>
      <tr>
	<td>Middle Name</td>
	<td><%= vcust.middle_name %></td>
      </tr>
      <tr>
	<td>Last Name</td>
	<td><%= vcust.last_name %></td>
      </tr>
      <tr>
	<td>Spouse Name</td>
        <% if vcust.spouse_id %>
	  <td><%= customerName2(vcust.spouse) %></td>
        <% else %>
	  <td><%= vcust.spouse_name %></td>
        <% end %>
      </tr>
      <tr>
	<td>Street</td>
	<td><%= vcust.street_addr1 %></td>
      </tr>
      <tr>
	<td>Street2/Apt</td>
	<td><%= vcust.street_addr2 %></td>
      </tr>
      <tr>
	<td>City</td>
	<td><%= vcust.city %></td>
      </tr>
      <tr>
	<td>State Zip</td>
	<td><%= vcust.state.name %> <%= vcust.zip %></td>
      </tr>
      <tr>
	<td>Home Phone</td>
	<td><%= vcust.home_phone %></td>
      </tr>
      <tr>
	<td>Work Phone</td>
	<td><%= vcust.work_phone %></td>
      </tr>
      <tr>
	<td>Mobile Phone</td>
	<td><%= vcust.mobile_phone %></td>
      </tr>
      <tr>
	<td>Signup Store</td>
	<td>
          <%= vcust.signup_store.number %>/<%= vcust.signup_store.name %>
          <br><%= vcust.signup_store.city %>, 
          <%= vcust.signup_store.state.name %>
        </td>
      </tr>
      <tr>
	<td>Dist to Signup Store</td>
	<td>TBS</td>
      </tr>
      <tr>
	<td>Member Since</td>
	<td>
          <%= vcust.joined_date.strftime("%b %d, %Y") %> <br />
          (<%= @custDays %> days)
        </td>
      </tr>
      <tr>
	<td>Referred by</td>
	<td>
          <%= referredBy(vcust).html_safe %>
        </td>
      </tr>
      <tr>
	<td>DOB</td>
	<td>
          <% if vcust.date_of_birth %>
            <%= vcust.date_of_birth.strftime("%b %d, %Y") %> <br />
              (age <%= @custAge %>)
          <% else %>
            <i>unknown</i>
          <% end %>
        </td>
      </tr>
      <tr>
	<td>Gender</td>
	<td><%= vcust.genderText %></td>
      </tr>
      <tr>
	<td>SSN</td>
	<td><%= vcust.ssn %></td>
      </tr>
      <tr>
	<td>
          <% if vcust.driver_lic_state %>
            DLN (<%= vcust.driver_lic_state.abbrev %>)
          <% else %>
            DLN
          <% end %>
        </td>
	<td><%= vcust.driver_lic_num %></td>
      </tr>
      <tr>
	<td colspan="2">TBS: license image</td>
      </tr>
      <tr>
	<td>CC</td>
	<td>Visa ending TBS</td>
      </tr>
      <tr>
	<td colspan="2">TBS: credit card image</td>
      </tr>
    </table>
  </div>
  <div id="cust2id_div" style="display: none">
    <table border="1" class="anatab">
      <tr>
	<th colspan="2" bgcolor="#e0e0e0"><font color="#006040">
	  Customer History
	</font></th>
      </tr>
      <tr>
	<td>Signup Store</td>
	<td>
          <%= vcust.signup_store.number %>/<%= vcust.signup_store.name %>
          <br><%= vcust.signup_store.city %>, 
          <%= vcust.signup_store.state.name %>
	</td>
      </tr>
      <tr>
	<td>Member Since</td>
	<td>
          <%= vcust.joined_date.strftime("%b %d, %Y") %> <br />
          (<%= @custDays %> days)
	</td>
      </tr>
      <tr>
	<td>Referred by</td>
	<td>
          <%= referredBy(vcust).html_safe %>
        </td>
      </tr>
      <tr>
	<th colspan="2" bgcolor="#e0e0e0"><font color="#006040">
	  Store Visits
	</font></th>
      </tr>
      <% for vis in @vehicle.service_visits %>
        <tr>
          <td><%= vis.sdate.strftime("%b %d, %Y") %></td>
          <td><%= vis.store.number %>/<%= vis.store.name %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="carbox">
    <div class="boxhdr">
      <B>Vehicle - 
      <% if @profitPercent >= 0.0 %>
        <font color="#008000">
          Profitable by <%= sprintf("%.1f", @profitPercent) %>%
        </font>
      <% else %>
        <font color="#800000">
          Loss by <%= sprintf("%.1f", -@profitPercent) %>%
        </font>
      <% end %>
      </B>
    </div>
    <div class="carbox2">
      <table border="1" class="anatab">
	<tr>
	  <td><B>Year | Make | Model | Sub</B></td>
	  <td>
            <%= @vehicle.date_of_manufacture.year %> | 
            <%= @vehicle.make.name %> | 
            <%= @vehicle.model.name %> | 
            <% if @vehicle.submodel %>
              <%= @vehicle.submodel.name %>
            <% end %>
          </td>
	</tr>
	<tr>
	  <td><B>Carfax</B></td>
	  <td><a href="http://www.carfax.com/phoenix/vehicle_history/SampleReport.cfx?reportName=consumerMobileWeb">TBS View</a></td>
	</tr>
	<tr>
	  <td><B>VIN #</B></td>
	  <td><%= @vehicle.vin %></td>
	</tr>
	<tr>
	  <td><B>VIN Decoded</B></td>
	  <td><a href="VinDecode.html">TBS View</a></td>
	</tr>
	<tr>
	  <td><B>Door Plate</B></td>
	  <td>
	    <a id="doorphot" class="show_hide_popover" 
	       title="Door Plate" 
	       data-placement='right' data-trigger="focus" 
	       tabindex="0" href='#'>TBS View</a>
	    <a id="xdoorphot" class='hide_popover' href='#'>Hide</a>
	  </td>
	</tr>
	<tr>
	  <td><B>Color</B></td>
	  <td><%= @vehicle.color.name %></td>
	</tr>
	<tr>
	  <td><B>Mileage</B></td>
	  <td>
            <%= number_with_delimiter(@vehicle.mileage, :delimiter => ',') %>
          </td>
	</tr>
	<tr>
	  <td><B>Miles to 300K limit</B></td>
	  <td>
            <% if @vehicle.mileage %>
              <%= number_with_delimiter(300000 - @vehicle.mileage,
                                        :delimiter => ',') %>
            <% end %>
          </td>
	</tr>
	<tr>
	  <td><B>
          <% if @vehicle.license_plate_state %>
            <%= @vehicle.license_plate_state.abbrev %>
          <% end %>
          Lic Plate</B></td>
	  <td>
	    <%= @vehicle.license_plate %>
          </td>
	</tr>
	<tr>
	  <td><B>Date of Manufacture</B></td>
	  <td><%= @vehicle.date_of_manufacture.strftime("%b %d, %Y") %></td>
	</tr>
	<tr>
	  <td><B>Country of Manufacture</B></td>
	  <td><%= countryOrUnk(@vehicle) %></td>
	</tr>
	<tr>
	  <td><B>MSRP</B></td>
	  <td><%= number_to_currency(@vehicle.msrp) %></td>
	</tr>
	<tr>
	  <td><B>Manufacturer Warranty</B></td>
	  <td>
            <% for mw in @vehicle.manufacturer_warranties %>
              <%= mw.months %> mo/<%= mw.miles %> mi<br />
              &nbsp; &nbsp; <%= mw.manufacturer_warranty_type.name %> <br />
            <% end %>
          </td>
	</tr>
	<tr>
	  <td><B>KBB value on qualification</B></td>
	  <td><%= number_to_currency(@vehicle.kbb_on_qual) %></td>
	</tr>
	<tr>
	  <td><B>Current KBB value</B></td>
	  <td><%= number_to_currency(@vehicle.current_kbb) %></td>
	</tr>
	<tr>
	  <td><B>Consumer Reports</B></td>
          <td>
	    <% if @vehicle.consumer_reports_url and 
                  @vehicle.consumer_reports_url.length > 1 %>
	      <a href="<%= @vehicle.consumer_reports_url %>">View Report</a>
            <% else %>
              <i>n/a</i>
            <% end %>
          </td>
	</tr>
	<tr>
	  <td><B>Engine</B></td>
	  <td>
            <%= @vehicle.engine_cyl %> cyl 
            <%= @vehicle.engine_displacement.name %>
          </td>
	</tr>
	<tr>
	  <td><B>Drive</B></td>
	  <td><%= @vehicle.wheel_drive.name %></td>
	</tr>
	<tr>
	  <td><B>MPG 30 days after initial service</B></td>
	  <td><%= @vehicle.mpg30after_initial %></td>
	</tr>
	<tr>
	  <td>
            <B>Latest mileage: 
            <% if @latestMileage %>
              <%= @latestMileageTime.strftime("%b %d, %Y") %>
            <% else %>
              <i>n/a</i>
            <% end %>
            </B>
          </td>
	  <td>
            <% if @latestMileage %>
              <%= @latestMileage %> mpg,
              <% down = @vehicle.mpg30after_initial - @latestMileage %>
              <% if down > 0.0 %>
                down <%= down %>
              <% else %>
                up <%= -down %>
              <% end %>
            <% else %>
              <i>n/a</i>
            <% end %>
          </td>
	</tr>
	<tr>
	  <td><B>Average Miles Per Year</B></td>
	  <td><%= number_with_precision(@avgMilesPerYear, precision: 1) %></td>
	</tr>
	<tr>
	  <td><B>Contract expires</B></td>
          <td>
            <% if @vehicle.mileage > 300000 %>
              Expired (mileage)
            <% else %>
              <%= @contractExpires.strftime("%b %d, %Y") %></td>
            <% end %>
          </td>
	</tr>
	<tr>
	  <td><B>Time to 15 year limit</B></td>
	  <td><%= @yearsTo15 %> years, <%= @daysTo15 %> days</td>
	</tr>
	<tr>
	  <td><B>Photos</B></td>
	  <td>
	  <a id="vehphot" class="show_hide_popover" 
	     title="2011 Toyota Matrix ES" 
	     data-placement='right' data-trigger="focus" 
	     tabindex="0" href='#'>TBS View Photos</a>
	  <a id="xvehphot" class='hide_popover' href='#'>Hide Photos</a>
	  </td>
	</tr>
	<tr>
	  <td><B>Non-MA Maintenance</B></td>
	  <td>
            <a href="/analytics/non_ma_maint/<%= @vehicle.id %>">
            View Records</a>
          </td>
	</tr>
      </table>
    </div>
    <div id="vehphot_div" style="display: none">
      <img src="images/car1.jpg"><br>
      <img src="images/car2.jpg"><br>
      <img src="images/car3.jpg"><br>
      <img src="images/car4.jpg"><br>
    </div>
    <div id="doorphot_div" style="display: none">
      <img src="images/DoorPlate.jpg">
    </div>
  </div>
  <div class="carbox">
    <div class="boxhdr">
      <B>Fuel Economy</B>
    </div>
    <B><I><font color="#800080">Mileage chart TBS</font></I></B>
  </div>
  <div class="carbox">
    <div class="boxhdr">
      <B>Referrals</B>
    </div>
    <div class="carbox2">
      <table border="1" class="anatab">
	<tr><td><B><%= @referredCust.length %> referred</B></td></tr>
	<% for rcust in @referredCust %>
	  <tr><td>&nbsp;&nbsp;<%= customerName2(rcust) %></td></tr>
        <% end %>
	<tr><td>
          <B>Credit Earned:</B><br><%= @referredCust.length %> months
        </td></tr>
      </table>
    </div>
  </div>
  <div class="carbox">
    <div class="boxhdr">
      <B>Qualification Readings</B>
    </div>
    <div class="carbox2">
      <table border="1" class="anatab">
	<tr bgcolor="#e0e0e0">
	  <th colspan="3"><font color="#006040">
	    <center>Compression</center>
	  </font></th>
	</tr>
        <% if @qualification %>
          <tr>
            <td colspan="3">
              Spec:
              <%= @qualification.cylinder_compression_spec %> PSI +/-
              <%= @qualification.cylinder_compression_tolerance %>%
            </td>
          </tr>

          <tr>
            <th>Cyl</th><th>PSI</th>
            <th>Diff</th>
          </tr>
          <% for cx in 1..@last_compression %>
            <% next  if @compressions[cx].nil? %>
            <% if @compPct[cx] > @qualification.cylinder_compression_tolerance%>
              <% cylColor = '#800000' %>
            <% else %>
              <% cylColor = '#008000' %>
            <% end %>
            <tr>
              <td><%= cx %></td>
              <td>
                <font color="<%= cylColor %>">
                  <%= @compressions[cx] %>
                </font>
              </td>
              <td align="right"><font color="<%= cylColor %>">
                <%= number_with_precision(@compPct[cx], precision: 1) %>%
              </font></td>
            </tr>
          <% end %>

          <tr bgcolor="#e0e0e0">
            <th colspan="3"><font color="#006040">
              <center>Other</center>
            </font></th>
          </tr>
          <tr>
            <td colspan="2">Leakdown</td>
            <td colspan="1"><%= @qualification.leakdown %>%</td>
          </tr>
        <% end %>
	<tr>
	  <td colspan="3">
	    <a href="#">TBS Qualification Reports</a><br>
	    <a href="#">TBS Alighment Reports</a><br>
	    <a href="#">TBS 6-Gas Readout</a><br>
	    <a href="#">TBS Spectrum Analysis</a><br>
	  </td>
	</tr>
      </table>
    </div>
  </div>

  <div class="carbox">
    <div class="boxhdr">
      <B>Code History</B>
    </div>
    <div class="carbox2">
      <table border="1" class="anatab">
        <% for ch in @vehicle.code_histories %>
          <tr>
            <td><%= ch.cdate.strftime("%b %d, %Y") %></td>
            <td><%= ch.code %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="boxhdr">
      <B>Tire TD Readings</B>
    </div>
    <div class="carbox2">
      <table border="1" class="anatab">
        <% for td in @vehicle.tire_td_readings %>
          <tr>
            <td><%= td.tdate.strftime("%b %d, %Y") %></td>
            <td><%= td.depth32nds %>/32</td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="carbox">
    <div class="boxhdr">
      <B>BG Compliance</B>
    </div>
    <div class="carbox2">
      <table border="1" class="anatab">
	<tr>
	  <td>BG Compliant?</td>
	  <td><B><%= boolText(@vehicle.bg_compliant) %></B></td>
	</tr>
	<tr>
	  <td colspan="2">
	    <a href='#'>TBS View Paperwork</a>
	  </td>
	</tr>
      </table>
    </div>
    <div class="boxhdr">
      <B>Systems Covered</B>
    </div>
    <div class="carbox2">
      <table border="1" class="anatab">
        <% for bgsc in @vehicle.bg_system_covereds %>
          <tr>
            <td><%= bgsc.system.name %></td>
            <td>
              <% if bgsc.coverage.nil? or bgsc.coverage == 0 %>
                <B>No</B>
              <% else %>
                <B><%= number_to_currency(bgsc.coverage) %></B>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="endfloat">
  </div>

</div>

<div class="vehhistframe">
  <div class="payhistbox">
    <div class="boxhdr">
      <B>Membership Payment History</B>
    </div>
    <div class="payhistbox2">
      <center>
      <table border="1" class="anatab">
	<tr bgcolor="#e0e0e0">
	  <th colspan="3">
	    <font color="#006040">Level 3</font>
	    &nbsp; &nbsp; &nbsp; &nbsp;  
	    Payment Agreement: 
	    <a href='PaymentAgrmnt.html'>View</a>
	  </th>
	</tr>
	<tr>
	  <th>Base</th>
	  <th>Upgrade</th>
	  <th>Date</th>
	</tr>
        <% baseTotal = 0.0 %>
        <% upgTotal = 0.0 %>
	<!-- 10x 5.99 turbo  3 x 9.99 detail  4x7.00 tow -->
        <% for pmnt in vcust.payments %>
          <% next if not pmnt.statusCompleted? %>
          <% next if pmnt.contract.nil? %>

          <% upgradeNote = '' %>
          <% for ug in pmnt.contract.upgrades %>
            <% if upgradeNote == '' %>
              <% upgradeNote = ug.upgrade_type.name %>
            <% else %>
              <% upgradeNote += '+' %>
              <% break %>
            <% end %>
          <% end %>
          <% upgradeAmt = 0.0 %>

          <% if pmnt.status == Payment::STATUS_REFERRAL %>
            <% baseAmtStr = 'Ref.' %>
            <% upgradeNote = '' %>
          <% elsif pmnt.status == Payment::STATUS_UP_APPOVED %>
            <% baseAmtStr = 'Upgrd' %>
            <% upgradeAmt = pmnt.amount %>
          <% else # STATUS_APPOVED %>
            <% baseAmt = pmnt.contract.base_cost %>
            <% if baseAmt >= pmnt.amount %>
              <% baseAmt = pmnt.amount %>
              <% upgradeNote = '' %>
            <% else %>
              <% upgradeAmt = pmnt.amount - pmnt.contract.base_cost %>
            <% end %>
            <% baseAmtStr = number_to_currency(baseAmt) %>
            <% baseTotal += baseAmt %>
          <% end %>
          <% upgTotal += upgradeAmt %>

          <% if upgradeNote != '' %>
            <% upgradeNote = '(' + upgradeNote + ')' %>
          <% end %>

          <tr>
            <td><%= baseAmtStr %></td>
            <td>
              <%= number_to_currency(upgradeAmt) %>
              <%= upgradeNote %>
            </td>
            <td><%= pmnt.date_time.strftime("%b %d, %Y") %></td>
          </tr>
        <% end %>





	<tr>
	  <td><B><%= number_to_currency(baseTotal) %></B></td>
	  <td><B><%= number_to_currency(upgTotal) %></B></td>
	  <td><B><%= number_to_currency(baseTotal + upgTotal) %></B></td>
	</tr>
      </table>
      </center>
    </div>
    <div class="payhistbox2">
      <center>
      <B>Club Fees Only</B><br>
      <B><I><font color="#800080">Pie chart TBS</font></I></B>
      </center>
    </div>
  </div>
  <div class="visithistbox">
    <div class="boxhdr">
      <B>This Vehicle Service History</B>
    </div>
    <div class="visithistbox2">
      <table border="1" class="anatab">
	<tr bgcolor="#e0e0e0">
	  <th colspan="8"><font color="#006040">
	    <center>Scheduled</center>
	  </font></th>
	</tr>
	<tr>
	  <th>Num</th>
	  <th>Date</th>
	  <th>Location</th>
	  <th>Hours in Garage</th>
	  <th>Description</th>
	  <th>Labor</th>
	  <th>Parts</th>
	  <th>View</th>
	</tr>
	<% vnum = 1 %>
	<% for vis in @vehicle.service_visits %>
	  <% svSums = getSumsForSvcVisit(vis) -%>
	  <% next unless svSums[:hasScheduled] -%>
	  <tr>
	    <td><a href="/service_visits/<%= vis.id %>"><%= vnum %></a></td>
	    <td><%= vis.sdate.strftime("%b %d, %Y") %></td>
	    <td><%= vis.store.number %>/<%= vis.store.name %></td>
	    <td><i>TBS</i></td>
	    <td><%= vis.description %></td>
	    <td><%= number_to_currency(svSums[:laborActual]) %></td>
	    <td><%= number_to_currency(svSums[:partsActual]) %></td>
	    <td>VIEW URHERE</td>
	    <td>
	      <a id="vr2id" class="show_hide_popover" title="2: May 5" 
		 data-placement='left' data-trigger="focus" 
		 tabindex="0" href='#'>View</a>
	      <a id="xvr2id" class='hide_popover' href='#'>Hide</a>
	    </td>
	  </tr>
	  <% vnum += 1 %>
	<% end %>
      </table>
    </div> <!-- visithistbox2 -->




    <div class="visithistbox2">
      <table border="1" class="anatab">
	<tr bgcolor="#e0e0e0">
	  <th colspan="8"><font color="#006040">
	    <center>Scheduled</center>
	  </font></th>
	</tr>
	<tr>
	  <th>Num</th>
	  <th>Date</th>
	  <th>Location</th>
	  <th>Hours in Garage</th>
	  <th>Description</th>
	  <th>Labor</th>
	  <th>Parts</th>
	  <th>View</th>
	</tr>
	<tr>
	  <td>1</td>
	  <td>Mar 15, 2014</td>
	  <td>FL72</td>
	  <td>2.5</td>
	  <td>Oil/Filter Change</td>
	  <td>1.3hr/$19.50</td>
	  <td>$17.50</td>
	  <td>
	    <a id="vr1id" class="show_hide_popover" title="1: Mar 15" 
	       data-placement='left' data-trigger="focus" 
	       tabindex="0" href='#'>View</a>
	    <a id="xvr1id" class='hide_popover' href='#'>Hide</a>
	  </td>
	</tr>
	<tr>
	  <td>2</td>
	  <td>May 5, 2014</td>
	  <td>FL72</td>
	  <td>1.5</td>
	  <td>Plugs, Bulbs, Wheel repair</td>
	  <td>2.25hr/$37.50</td>
	  <td>$31.17</td>
	  <td>
	    <a id="vr2id" class="show_hide_popover" title="2: May 5" 
	       data-placement='left' data-trigger="focus" 
	       tabindex="0" href='#'>View</a>
	    <a id="xvr2id" class='hide_popover' href='#'>Hide</a>
	  </td>
	</tr>
	<tr>
	  <td>3</td>
	  <td>Jul 8, 2014</td>
	  <td>FL72</td>
	  <td>3.2</td>
	  <td>Tire Rotation</td>
	  <td>1.2hr/$18.00</td>
	  <td>$0.00</td>
	  <td>
	    <a id="vr3id" class="show_hide_popover" title="3: Jul 8" 
	       data-placement='left' data-trigger="focus" 
	       tabindex="0" href='#'>View</a>
	    <a id="xvr3id" class='hide_popover' href='#'>Hide</a>
	  </td>
	</tr>
	<tr>
	  <td>4</td>
	  <td>Oct 8, 2014</td>
	  <td>FL72</td>
	  <td>0.8</td>
	  <td>Oil/Filter Change</td>
	  <td>1.3hr/$19.50</td>
	  <td>$27.50</td>
	  <td>
	    <a id="vr4id" class="show_hide_popover" title="4: Oct 8" 
	       data-placement='left' data-trigger="focus" 
	       tabindex="0" href='#'>View</a>
	    <a id="xvr4id" class='hide_popover' href='#'>Hide</a>
	  </td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td><B>SUBTOTAL</B></td>
	  <td><B>$170.67</B></td>
	  <td><B>6.05hr/$94.50</B></td>
	  <td><B>$76.17</B></td>
	  <td></td>
	</tr>
	<tr>
	  <th colspan="8" bgcolor="#ffffff">
	    <font size="+4">&nbsp; </font>
	  </th>
	</tr>
	<tr bgcolor="#e0e0e0">
	  <th colspan="8"><font color="#006040">
	    <center>Unscheduled</center>
	  </font></th>
	</tr>
	<tr>
	  <th colspan="8">
	    <font size="+3">&nbsp; </font>
	  </th>
	</tr>
	<tr>
	  <th>Num</th>
	  <th>Date</th>
	  <th>Location</th>
	  <th>Hours in Garage</th>
	  <th>Description</th>
	  <th>Labor</th>
	  <th>Parts</th>
	  <th>View</th>
	</tr>
	<tr>
	  <td>5</td>
	  <td>May 01, 2014</td>
	  <td>FL72</td>
	  <td>5.8</td>
	  <td>Front-end Repair</td>
	  <td>1.3hr/$19.50</td>
	  <td>$27.50</td>
	  <td>
	    <a id="vr5id" class="show_hide_popover" title="5: May 01" 
	       data-placement='left' data-trigger="focus" 
	       tabindex="0" href='#'>View</a>
	    <a id="xvr5id" class='hide_popover' href='#'>Hide</a>
	  </td>
	</tr>
	<tr>
	  <td>6</td>
	  <td>Jul 25, 2014</td>
	  <td>FL72</td>
	  <td>3.7</td>
	  <td>Replace Shocks</td>
	  <td>2.5hr/$37.50</td>
	  <td>$29.05</td>
	  <td>
	    <a id="vr6id" class="show_hide_popover" title="6: May 5" 
	       data-placement='left' data-trigger="focus" 
	       tabindex="0" href='#'>View</a>
	    <a id="xvr6id" class='hide_popover' href='#'>Hide</a>
	  </td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td><B>SUBTOTAL</B></td>
	  <td><B>$113.55</B></td>
	  <td><B>3.8hr/$57.00</B></td>
	  <td><B>$56.55</B></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td><B>TOTAL</B></td>
	  <td><B>9.85hr/$151.50</B></td>
	  <td><B>$132.72</B></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td><B>YTD EXPECTED</B></td>
	  <td><B>10.0hr/$160.00</B></td>
	  <td><B>$140.00</B></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td><B>DIFFERENCE</B></td>
	  <td><B><font color="#008000">-0.15hr/$8.50</B></font></td>
	  <td><B><font color="#008000">-$7.28</B></font></td>
	  <td></td>
	</tr>
      </table>
    </div> <!-- visithistbox2 -->

    <!-- contents of popovers -->
    <div id="vr1id_div" style="display: none">
      <table border="1" class="anatab">
        <tr>
	  <th>Labor</th>
	  <th>Parts</th>
        </tr>
        <tr>
	  <td>T#181/Jackson 1.3hrs @ $15.00</td>
	  <td>P#F99-84424/Oil Filter $8.50</td>
        </tr>
        <tr>
	  <td>&nbsp;</td>
	  <td>P#AX-12345/Air Filter $7.50</td>
        </tr>
        <tr>
	  <td>&nbsp;</td>
	  <td>P#78AA7-99/Cabin Filter $1.50</td>
        </tr>
        <tr>
	  <td><B>Total:</B>$19.50</td>
	  <td><B>Total:</B>$17.50</td>
        </tr>
      </table>
    </div>

    <div id="vr2id_div" style="display: none">
      <table border="1" class="anatab">
        <tr>
	  <th>Labor</th>
	  <th>Parts</th>
        </tr>
        <tr>
	  <td>T#131/Johnson 1.5hrs @ $20.00</td>
	  <td>P#F99-84424/Spark Plugs $18.50</td>
        </tr>
        <tr>
	  <td>T#135/Jones 0.5hrs @ $10.00</td>
	  <td>P#AX-12345/Rear Signal Bulb $7.50</td>
        </tr>
        <tr>
	  <td>T#135/Jones 0.25hrs @ $10.00</td>
	  <td>P#78AA7-99/Steering Wheel $5.17</td>
        </tr>
        <tr>
	  <td><B>Total:</B>$37.50</td>
	  <td><B>Total:</B>$31.17</td>
        </tr>
      </table>
    </div>

    <div id="vr3id_div" style="display: none">
      <table border="1" class="anatab">
        <tr>
	  <th>Labor</th>
	  <th>Parts</th>
        </tr>
        <tr>
	  <td>T#181/Jackson 1.2hrs @ $15.00</td>
	  <td>&nbsp;</td>
        </tr>
        <tr>
	  <td><B>Total:</B>$18.00</td>
	  <td><B>Total:</B>$0.00</td>
        </tr>
      </table>
    </div>

    <div id="vr4id_div" style="display: none">
      <table border="1" class="anatab">
        <tr>
	  <th>Labor</th>
	  <th>Parts</th>
        </tr>
        <tr>
	  <td>T#181/Jackson 1.3hrs @ $15.00</td>
	  <td>P#F99-84424/Oil Filter $18.50</td>
        </tr>
        <tr>
	  <td>&nbsp;</td>
	  <td>P#AX-12345/Air Filter $7.50</td>
        </tr>
        <tr>
	  <td>&nbsp;</td>
	  <td>P#78AA7-99/Cabin Filter $1.50</td>
        </tr>
        <tr>
	  <td><B>Total:</B>$19.50</td>
	  <td><B>Total:</B>$27.50</td>
        </tr>
      </table>
    </div>

    <div id="vr5id_div" style="display: none">
      <table border="1" class="anatab">
        <tr>
	  <th>Labor</th>
	  <th>Parts</th>
        </tr>
        <tr>
	  <td>T#181/Jackson 1.3hrs @ $15.00</td>
	  <td>P#12345/Tie rod $27.50</td>
        </tr>
        <tr>
	  <td><B>Total:</B>$19.50</td>
	  <td><B>Total:</B>$27.50</td>
        </tr>
      </table>
    </div>

    <div id="vr6id_div" style="display: none">
      <table border="1" class="anatab">
        <tr>
	  <th>Labor</th>
	  <th>Parts</th>
        </tr>
        <tr>
	  <td>T#181/Jackson 2.5hrs @ $15.00</td>
	  <td>P#12345/Shocks $29.05</td>
        </tr>
        <tr>
	  <td><B>Total:</B>$37.50</td>
	  <td><B>Total:</B>$29.05</td>
        </tr>
      </table>
    </div>

  </div>

  <div class="plbox">
    <div class="boxhdr">
      <B>Profit/Loss This Vehicle</B>
    </div>
    <div class="plbox2">
      <center>
      <table border="1" class="anatab">
	<tr>
	  <td>Qualification Sale</td>
	  <td align="right"><font color="#008000">
            <%= number_to_currency(@qualRetail) %>
          </font></td>
	</tr>
	<tr>
	  <td>Qualification Labor Cost</td>
	  <td align="right"><font color="#800000">
            <%= number_to_currency(@qualLaborActual) %>
          </font></td>
	</tr>
	<tr>
	  <td>Qualification Parts Cost</td>
	  <td align="right"><font color="#800000">
            <%= number_to_currency(@qualPartsActual) %>
          </font></td>
	</tr>
	<tr>
	  <td>Gross Profit on Qual</td>
	  <td align="right">
            <% gpoq = @qualRetail - (@qualLaborActual + @qualPartsActual) %>
            <%= number_to_currency(gpoq) %>
          </td>
	</tr>
	<tr>
	  <td colspan="2">&nbsp;</td>
	</tr>
	<tr>
	  <td>Membership Income</td>
	  <td align="right"><font color="#008000">
            <%= number_to_currency(@membIncome) %>
          </font></td>
	</tr>
	<tr>
	  <td>Membership Labor Cost</td>
	  <td align="right"><font color="#800000">
            <%= number_to_currency(@membLaborActual) %>
          </font></td>
	</tr>
	<tr>
	  <td>Membership Parts Cost</td>
	  <td align="right"><font color="#800000">
            <%= number_to_currency(@membPartsActual) %>
          </font></td>
	</tr>
	<tr>
	  <td>Membership Total Expense</td>
	  <td align="right"><font color="#800000">
            <%= number_to_currency(@membLaborActual + @membPartsActual) %>
          </font></td>
	</tr>
        <% if @notCoveredIncome != 0.0 %>
          <tr>
            <td>Membership Not Covered Income</td>
            <td align="right"><font color="#008000">
              <%= number_to_currency(@notCoveredIncome) %>
            </font></td>
          </tr>
          <tr>
            <td>Membership Not Covered Labor Cost</td>
            <td align="right"><font color="#800000">
              <%= number_to_currency(@notCoveredLaborActual) %>
            </font></td>
          </tr>
          <tr>
            <td>Membership Not Covered Parts Cost</td>
            <td align="right"><font color="#800000">
              <%= number_to_currency(@notCoveredPartsActual) %>
            </font></td>
          </tr>
        <% end %>
	<tr>
	  <td colspan="2">&nbsp;</td>
	</tr>
	<tr>
	  <td>Vehicle Gross Income</td>
	  <td align="right">
            <%= number_to_currency(@totalIncome) %>
          </td>
	</tr>
	<tr>
	  <td><font color="#008000"><B>NET PROFIT</B></font></td>
	  <td align="right"><font color="#008000"><B>
            <%= number_to_currency(@profit) %>
          </B></font></td>
	</tr>
      </table>
      <B>Total Vehicle Profitability</B><br>
      <B><I><font color="#800080">Pie chart TBS</font></I></B>
      <img src="images/piePl.png"><br>
      &nbsp;<br>
      <B>Vehicle Profitability Trend</B><br>
      <B><I><font color="#800080">Trend chart TBS</font></I></B>
      <img src="images/profitability.png"><br>
      </center>
    </div>
  </div>

  <div class="genitembox">
    <div class="boxhdr">
      <B>&nbsp; Membership Parts and Labor Cost &nbsp;</B>
    </div>
    <div class="gendatabox">
      <center>
        <img src="images/BarPartLabr.png">
      </center>
    </div>
  </div>

  <div class="genitembox">
    <div class="boxhdr">
      <B>Finance Agreement</B>
    </div>
    <div class="gendatabox">
      <div class="financetblbox">
	<table border="1" class="anatab">
	  <tr>
	    <th colspan="2">
	      <center><B>Overview</B></center>
	    </th>
	  </tr>
	  <tr>
	    <td>Missed Payments</td>
	    <td>1</td>
	  </tr>
	  <tr>
	    <td>Missed Payment Fee</td>
	    <td>$30.00</td>
	  </tr>
	  <tr>
	    <td>Total Principal</td>
	    <td>$800.00</td>
	  </tr>
	  <tr>
	    <td>Finance Fee 10%</td>
	    <td>$80.00</td>
	  </tr>
	  <tr>
	    <td>Monthly Payment</td>
	    <td>$88.00</td>
	  </tr>
	  <tr>
	    <td>Total Fees</td>
	    <td>$110.00</td>
	  </tr>
	  <tr>
	    <td>Start Date</td>
	    <td>Mar 1, 2014</td>
	  </tr>
	  <tr>
	    <td>End Date</td>
	    <td>Sep 1, 2014</td>
	  </tr>
	</table>
      </div>
      <div class="financetblbox">
	<table border="1" class="anatab">
	  <tr>
	    <th>Payment Amount</th>
	    <th>Payment Date</th>
	  </tr>
	  <tr>
	    <td>$88.00</td>
	    <td>Feb 15, 2014</td>
	  </tr>
	  <tr>
	    <td>$88.00</td>
	    <td>Mar 15, 2014</td>
	  </tr>
	  <tr>
	    <td>$88.00</td>
	    <td>Apr 18, 2014</td>
	  </tr>
	  <tr>
	    <td>$100.00</td>
	    <td>May 15, 2014</td>
	  </tr>
	  <tr>
	    <td>$88.00</td>
	    <td>Jun 12, 2014</td>
	  </tr>
	  <tr>
	    <td><B>Income Total</B></td>
	    <td><B>$452.00</B></td>
	  </tr>
	  <tr>
	    <td><B>Balance</B></td>
	    <td><B>$458.00</B></td>
	  </tr>
	  <tr>
	    <td>Title</td>
	    <td>
	      <a id="titlphot" class="show_hide_popover" 
		 title="Title" 
		 data-placement='left' data-trigger="focus" 
		 tabindex="0" href='#'>View</a>
	      <a id="xtitlphot" class='hide_popover' href='#'>Hide</a>
	    </td>
	  </tr>
	  <tr>
	    <td>Finance Agreement</td>
	    <td>
	      <a href='LoanAgrmnt.html'>View</a>
	    </td>
	  </tr>
	</table>
      </div>
      <div id="titlphot_div" style="display: none">
	<img src="images/FloridaTitle.jpg">
      </div>
      <div class="endfloat">
      </div>
    </div>  <!-- end gendatabox -->
  </div>

  <div class="genitembox">
    <div class="boxhdr">
      <B>&nbsp;Automatic Data Link Info&nbsp;</B>
    </div>
    <div class="gendatabox">
      <div class="financetblbox">
	<table border="1" class="anatab">
	  <tr>
	    <th colspan="2">
	      <center><B>S/N 541938</B></center>
	    </th>
	  </tr>
	  <tr>
	    <td>Data</td>
	    <td>1</td>
	  </tr>
	  <tr>
	    <td>Data</td>
	    <td>2</td>
	  </tr>
	  <tr>
	    <td>Data</td>
	    <td>3</td>
	  </tr>
	  <tr>
	    <td>Data</td>
	    <td>4</td>
	  </tr>
	  <tr>
	    <td>Data</td>
	    <td>5</td>
	  </tr>
	  <tr>
	    <td>Data</td>
	    <td>6</td>
	  </tr>
	  <tr>
	    <td>Data</td>
	    <td>Mar 1, 2014</td>
	  </tr>
	</table>
      </div>
      <div class="endfloat">
      </div>
    </div>  <!-- end gendatabox -->
  </div>

  <div class="genitembox">
    <div class="boxhdr">
      <B>&nbsp;TSB and Recalls&nbsp;</B>
    </div>
    <div class="gendatabox">
      <div class="financetblbox">
	<table border="1" class="anatab">
	  <tr>
	    <td>R8112: Alternator</td>
	    <td><font color="#800000">NOT DONE</font></td>
	  </tr>
	  <tr>
	    <td>R4622: ABS sensor</td>
	    <td><font color="#008000">Done 03/14/2013</font></td>
	  </tr>
	  <tr>
	    <td>R1982: Accelerator</td>
	    <td><font color="#008000">Done 03/14/2013</font></td>
	  </tr>
	</table>
      </div>
      <div class="endfloat">
      </div>
    </div>  <!-- end gendatabox -->
  </div>

  <div class="genitembox">
    <div class="boxhdr">
      <B>Mileage Tracker</B>
    </div>
    <div class="gendatabox">
      <center>
        <img src="images/15kMilYr.png">
      </center>
    </div>
    <div class="gendatabox">
      <center>
        <font color="#008000"><B>Under by 2867 miles</B></font>
      </center>
    </div>
  </div>

  <div class="endfloat">
    <center>
      Copyright &copy; 1999-2015 Innovative Auto, Inc. and Membership Auto.  All rights reserved.
    </center>
  </div>
</div>

<a href="/vehicles/search_int1">New Search</a> &nbsp; | &nbsp;
<a href="/top/analytics">Analytics</a>
