
<div class="navframe">
  <font color="#000080">
    <B><I>FUTURETECH ANALYTICS</I></B>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="/top/analytics">Home</a> &nbsp; 
    | &nbsp; <a href="/vehicles/search_int1">Search Vehicles</a> &nbsp; 
    | &nbsp;<a href="/vehicles/search_int2"> All Vehicles</a> &nbsp;
    | &nbsp; Search Customers &nbsp; | &nbsp; Stores &nbsp; 
    | &nbsp; Demographics &nbsp; | &nbsp; Help
  </font>
</div>

<div class="periodframe">
  <div class="periodbox">
    <B>Internal Single Vehicle</B> <br />
    Report on time period: &nbsp;
    <input type="radio" name="periodradio" checked="checked" value="ytd">
    Last 12 months
    &nbsp; &nbsp;
    <input type="radio" name="periodradio" value="qtd">
    YTD 2014  
    &nbsp; &nbsp;
    <input type="radio" name="periodradio" value="last12">
    QTD Q4 2014  
    &nbsp; &nbsp;
    <input type="radio" name="periodradio" value="custom">
    From 
    <select id="period_st_month" name="period[st_month]">
      <%= options_for_select(@monthsCollect, @selStMonth) %>
    </select>
    <select id="period_st_day" name="period[st_day]">
      <%= options_for_select(@daysCollect, @selStDay) %>
    </select>
    <select id="period_st_year" name="period[st_year]">
      <%= options_for_select(@yearsCollect, @selStYear) %>
    </select>
    to
    <select id="period_en_month" name="period[en_month]">
      <%= options_for_select(@monthsCollect, @selEnMonth) %>
    </select>
    <select id="period_en_day" name="period[en_day]">
      <%= options_for_select(@daysCollect, @selEnDay) %>
    </select>
    <select id="period_en_year" name="period[en_year]">
      <%= options_for_select(@yearsCollect, @selEnYear) %>
    </select>
    &nbsp; &nbsp;
    <a href="#">TBS Update</a>
  </div>
</div>

<% vcust = @vehicle.customer %>

<div class="vehtopframe">
  <div class="custbox">
    <div class="boxhdr">
      <B>Customer/Owner</B>
    </div>
    <div class="custbox2">
      <table border="1" class="anatab">
	<tr><td>ID# <%= vcust.cid %></td></tr>
	<tr><td><%= customerName2(vcust) %></td></tr>
	<tr><td><%= vcust.street_addr1 %></td></tr>
	<% if vcust.street_addr2 and vcust.street_addr2.length > 1 %>
	  <tr><td><%= vcust.street_addr2 %></td></tr>
	<% end %>
	<tr><td><%= vcust.city %></td></tr>
	<% if vcust.mobile_phone and vcust.mobile_phone.length > 1 %>
	  <tr><td>M: <%= vcust.mobile_phone %></td></tr>
	<% end %>
	<% if vcust.home_phone and vcust.home_phone.length > 1 %>
	  <tr><td>H: <%= vcust.home_phone %></td></tr>
	<% end %>
	<% if vcust.other_phone and vcust.other_phone.length > 1 %>
	  <tr><td>Oth: <%= vcust.other_phone %></td></tr>
	<% end %>
	<tr><td>Member since <%= vcust.joined_date.strftime("%b %d, %Y") %>, 
	        <B><%= @custDays %> days</B></td></tr>
	<tr><td>
	  AAA member? <B><%= boolText(vcust.is_aaa_member) %> </B>
	</td></tr>
	<tr><td>App Installed? <B>TBS</B></td></tr>
	<tr><td>
	  Web Registered? <B><%= boolText(vcust.is_web_registered) %> </B> 
	</td></tr>
	<tr><td>
	  <a id="cust1id" class="show_hide_popover" 
	     title="<%= customerName2(vcust) %>" 
	     data-placement='right' data-trigger="focus" 
	     tabindex="0" href='#'>View Details</a>
	  <a id="xcust1id" class='hide_popover' href='#'>Hide Details</a>
	</td></tr>
	<tr><td>
	  <a id="cust2id" class="show_hide_popover" 
	     title="<%= customerName2(vcust) %>" 
	     data-placement='right' data-trigger="focus" 
	     tabindex="0" href='#'>View History</a>
	  <a id="xcust2id" class='hide_popover' href='#'>Hide Details</a>
	</td></tr>
	<tr><td>
	  Other vehicles: <br>
	  <% if vcust.vehicles.length < 2 %>
	    <i>None</i>
	  <% else %>
	    <% for ve in vcust.vehicles %>
	      <% if ve.id != @vehicle.id %>
	        <a href="/analytics/int1/<%= ve.id %>"><%= ve.ymmpText %></a>
                <br>
	      <% end %>
	    <% end %>
	  <% end %>
	</td></tr>
	<tr><td>
	  <a href='#'>TBS View Contract #<%= @vehicle.contract.number%></a>
	</td></tr>
	<tr><td>
	  <a href='#'>TBS View Classifications</a>
	</td></tr>
	<tr><td>
	  <a href='#'>TBS View Insurance</a>
	</td></tr>
	<tr><td>
	  <a href='#'>TBS Video Testimony</a>
	</td></tr>
	<tr><td>
          <% if @custWrittenTestimony %>
	    <% wturl = '/written_testimonies/showana/' %>
	    <% wturl += @custWrittenTestimony.id.to_s %>
	    <a href="<%= wturl %>">Written Testimony</a>
          <% else %>
            <i>No Written Testimony</i>
          <% end %>
	</td></tr>
      </table>
    </div>
  </div>
  <div id="cust1id_div" style="display: none">
    <table border="1" class="anatab">
      <tr>
	<th colspan="2">Customer Details</th>
      </tr>
      <tr>
	<td>MA ID#</td>
	<td><%= vcust.cid %></td>
      <tr>
	<td>First Name</td>
	<td><%= vcust.first_name %></td>
      </tr>
      <tr>
	<td>Middle Name</td>
	<td><%= vcust.middle_name %></td>
      </tr>
      <tr>
	<td>Last Name</td>
	<td><%= vcust.last_name %></td>
      </tr>
      <tr>
	<td>Spouse Name</td>
       
      </tr>
      <tr>
	<td>Street</td>
	<td><%= vcust.street_addr1 %></td>
      </tr>
      <tr>
	<td>Street2/Apt</td>
	<td><%= vcust.street_addr2 %></td>
      </tr>
      <tr>
	<td>City</td>
	<td><%= vcust.city %></td>
      </tr>
      <tr>
	<td>State Zip</td>
	<td><%= vcust.state.name %> <%= vcust.zip %></td>
      </tr>
      <tr>
	<td>Home Phone</td>
	<td><%= vcust.home_phone %></td>
      </tr>
      <tr>
	<td>Work Phone</td>
	<td><%= vcust.work_phone %></td>
      </tr>
      <tr>
	<td>Mobile Phone</td>
	<td><%= vcust.mobile_phone %></td>
      </tr>
      <tr>
	<td>Signup Store</td>
	<td>
          <%= vcust.signup_store.number %>/<%= vcust.signup_store.name %>
          <br><%= vcust.signup_store.city %>, 
          <%= vcust.signup_store.state.name %>
        </td>
      </tr>
      <tr>
	<td>Dist to Signup Store</td>
	<td>TBS</td>
      </tr>
      <tr>
	<td>Member Since</td>
	<td>
          <%= vcust.joined_date.strftime("%b %d, %Y") %> <br />
          (<%= @custDays %> days)
        </td>
      </tr>
      <tr>
	<td>Referred by</td>
	<td>
          <%= raw referredBy(vcust) %>
        </td>
      </tr>
      <tr>
	<td>DOB</td>
	<td>
          <% if vcust.date_of_birth %>
            <%= vcust.date_of_birth.strftime("%b %d, %Y") %> <br />
              (age <%= @custAge %>)
          <% else %>
            <i>unknown</i>
          <% end %>
        </td>
      </tr>
      <tr>
	<td>Gender</td>
	<td><%= vcust.genderText %></td>
      </tr>
      <tr>
	<td>SSN</td>
	<td><%= vcust.ssn %></td>
      </tr>
      <tr>
	<td>
          <% if vcust.driver_lic_state %>
            DLN (<%= vcust.driver_lic_state.abbrev %>)
          <% else %>
            DLN
          <% end %>
        </td>
	<td><%= vcust.driver_lic_num %></td>
      </tr>
      <tr>
	<td colspan="2">TBS: license image</td>
      </tr>
      <tr>
	<td>CC</td>
	<td>Visa ending TBS</td>
      </tr>
      <tr>
	<td colspan="2">TBS: credit card image</td>
      </tr>
    </table>
  </div>
  <div id="cust2id_div" style="display: none">
    <table border="1" class="anatab">
      <tr>
	<th colspan="2" bgcolor="#e0e0e0"><font color="#006040">
	  Customer History
	</font></th>
      </tr>
      <tr>
	<td>Signup Store</td>
	<td>
          <%= vcust.signup_store.number %>/<%= vcust.signup_store.name %>
          <br><%= vcust.signup_store.city %>, 
          <%= vcust.signup_store.state.name %>
	</td>
      </tr>
      <tr>
	<td>Member Since</td>
	<td>
          <%= vcust.joined_date.strftime("%b %d, %Y") %> <br />
          (<%= @custDays %> days)
	</td>
      </tr>
      <tr>
	<td>Referred by</td>
	<td>
          <%= raw referredBy(vcust) %>
        </td>
      </tr>
      <tr>
	<th colspan="2" bgcolor="#e0e0e0"><font color="#006040">
	  Store Visits
	</font></th>
      </tr>
      <% for vis in @vehicle.service_visits %>
        <tr>
          <td><%= vis.sdate.strftime("%b %d, %Y") %></td>
          <td><%= vis.store.number %>/<%= vis.store.name %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="carbox">
    <div class="boxhdr">
      <B>Vehicle - 
      <% if @profitPercent >= 0.0 %>
        <font color="#008000">
          Profitable by <%= sprintf("%.1f", @profitPercent) %>%
        </font>
      <% else %>
        <font color="#800000">
          Loss by <%= sprintf("%.1f", -@profitPercent) %>%
        </font>
      <% end %>
      </B>
    </div>
    <div class="carbox2">
      <table border="1" class="anatab">
	<tr>
	  <td><B>Year | Make | Model | Sub</B></td>
	  <td>
            <%= @vehicle.date_of_manufacture %> | 
            <%= @vehicle.make.name %> | 
            <%= @vehicle.model.name %> | 
            <% if @vehicle.submodel %>
              <%= @vehicle.submodel.name %>
            <% end %>
          </td>
	</tr>
	<tr>
	  <td><B>Carfax</B></td>
	  <td><a href="http://www.carfax.com/phoenix/vehicle_history/SampleReport.cfx?reportName=consumerMobileWeb">TBS View</a></td>
	</tr>
	<tr>
	  <td><B>VIN #</B></td>
	  <td><%= @vehicle.vin %></td>
	</tr>
	<tr>
	  <td><B>VIN Decoded</B></td>
	  <td><a href="VinDecode.html">TBS View</a></td>
	</tr>
	<tr>
	  <td><B>Door Plate</B></td>
	  <td>
	    <a id="doorphot" class="show_hide_popover" 
	       title="Door Plate" 
	       data-placement='right' data-trigger="focus" 
	       tabindex="0" href='#'>TBS View</a>
	    <a id="xdoorphot" class='hide_popover' href='#'>Hide</a>
	  </td>
	</tr>
	<tr>
	  <td><B>Color</B></td>
	  <td><%= @vehicle.color.name %></td>
	</tr>
	<tr>
	  <td><B>Mileage</B></td>
	  <td>
            <%= number_with_delimiter(@vehicle.mileage, :delimiter => ',') %>
          </td>
	</tr>
	<tr>
	  <td><B>Miles to 300K limit</B></td>
	  <td>
            <% if @vehicle.mileage %>
              <%= number_with_delimiter(300000 - @vehicle.mileage,
                                        :delimiter => ',') %>
            <% end %>
          </td>
	</tr>
	<tr>
	  <td><B>
          <% if @vehicle.license_plate_state %>
            <%= @vehicle.license_plate_state.abbrev %>
          <% end %>
          Lic Plate</B></td>
	  <td>
	    <%= @vehicle.license_plate %>
          </td>
	</tr>
	<tr>
	  <td><B>Date of Manufacture</B></td>
	  <td><%= @vehicle.date_of_manufacture %></td>
	</tr>
	<tr>
	  <td><B>Country of Manufacture</B></td>
	  <td><%= countryOrUnk(@vehicle) %></td>
	</tr>
	<tr>
	  <td><B>MSRP</B></td>
	  <td><%= number_to_currency(@vehicle.msrp) %></td>
	</tr>
	<tr>
	  <td><B>Manufacturer Warranty</B></td>
	  <td>
            <% for mw in @vehicle.manufacturer_warranties %>
              <%= mw.months %> mo/<%= mw.miles %> mi<br />
              &nbsp; &nbsp; <%= mw.manufacturer_warranty_type.name %> <br />
            <% end %>
          </td>
	</tr>
	<tr>
	  <td><B>KBB value on qualification</B></td>
	  <td><%= number_to_currency(@vehicle.kbb_on_qual) %></td>
	</tr>
	<tr>
	  <td><B>Current KBB value</B></td>
	  <td><%= number_to_currency(@vehicle.current_kbb) %></td>
	</tr>
	<tr>
	  <td><B>Consumer Reports</B></td>
          <td>
	    <% if @vehicle.consumer_reports_url and 
                  @vehicle.consumer_reports_url.length > 1 %>
	      <a href="<%= @vehicle.consumer_reports_url %>">View Report</a>
            <% else %>
              <i>n/a</i>
            <% end %>
          </td>
	</tr>
	<tr>
	  <td><B>Engine</B></td>
	  <td>
            <%= @vehicle.engine_cyl %> cyl 
                      </td>
	</tr>
	<tr>
	  <td><B>Drive</B></td>
	  <td></td>
	</tr>
	<tr>
	  <td><B>MPG 30 days after initial service</B></td>
	  <td><%= @vehicle.mpg30after_initial %></td>
	</tr>
	<tr>
	  <td>
            <B>Latest mileage: 
            <% if @latestMileage %>
              <%= @latestMileageTime.strftime("%b %d, %Y") %>
            <% else %>
              <i>n/a</i>
            <% end %>
            </B>
          </td>
	  <td>
            <% if @latestMileage %>
              <%= @latestMileage %> mpg,
              <% down = @vehicle.mpg30after_initial - @latestMileage %>
              <% if down > 0.0 %>
                down <%= down %>
              <% else %>
                up <%= -down %>
              <% end %>
            <% else %>
              <i>n/a</i>
            <% end %>
          </td>
	</tr>
	<tr>
	  <td><B>Average Miles Per Year</B></td>
	  <td><%= number_with_precision(@avgMilesPerYear, precision: 1) %></td>
	</tr>
	<tr>
	  <td><B>Contract expires</B></td>
          <td>
            <% if @vehicle.mileage and @vehicle.mileage > 300000 %>
              Expired (mileage)
            <% else %>
              <%= @contractExpires.strftime("%b %d, %Y") %></td>
            <% end %>
          </td>
	</tr>
	<tr>
	  <td><B>Time to 15 year limit</B></td>
	  <td><%= @yearsTo15 %> years, <%= @daysTo15 %> days</td>
	</tr>
	<tr>
	  <td><B>Photos</B></td>
	  <td>
	  <a id="vehphot" class="show_hide_popover" 
	     title="2011 Toyota Matrix ES" 
	     data-placement='right' data-trigger="focus" 
	     tabindex="0" href='#'>TBS View Photos</a>
	  <a id="xvehphot" class='hide_popover' href='#'>Hide Photos</a>
	  </td>
	</tr>
	<tr>
	  <td><B>Non-MA Maintenance</B></td>
	  <td>
            <a href="/analytics/non_ma_maint/<%= @vehicle.id %>">
            View Records</a>
          </td>
	</tr>
      </table>
    </div>
    <div id="vehphot_div" style="display: none">
      <img src="images/car1.jpg"><br>
      <img src="images/car2.jpg"><br>
      <img src="images/car3.jpg"><br>
      <img src="images/car4.jpg"><br>
    </div>
    <div id="doorphot_div" style="display: none">
      <img src="images/DoorPlate.jpg">
    </div>
  </div>
  <div class="carbox">
    <div class="boxhdr">
      <B>Fuel Economy</B>
    </div>
    <iframe src="/analytics/basic" width="500" height="300">
        alternative content for browsers which do not support iframe.
      </iframe>
  </div>
  <div class="carbox">
    <div class="boxhdr">
      <B>Referrals</B>
    </div>
    <div class="carbox2">
      <table border="1" class="anatab">
	<tr><td><B><%= @referredCust.length %> referred</B></td></tr>
	<% for rcust in @referredCust %>
	  <tr><td>&nbsp;&nbsp;<%= customerName2(rcust) %></td></tr>
        <% end %>
	<tr><td>
          <B>Credit Earned:</B><br><%= @referredCust.length %> months
        </td></tr>
      </table>
    </div>
  </div>
  <div class="carbox">
    <div class="boxhdr">
      <B>Qualification Readings</B>
    </div>
    <div class="carbox2">
      <table border="1" class="anatab">
	<tr bgcolor="#e0e0e0">
	  <th colspan="3"><font color="#006040">
	    <center>Compression</center>
	  </font></th>
	</tr>
        <% if @qualification %>
          <tr>
            <td colspan="3">
              Spec:
              <%= @qualification.cylinder_compression_spec %> PSI +/-
              <%= @qualification.cylinder_compression_tolerance %>%
            </td>
          </tr>

          <tr>
            <th>Cyl</th><th>PSI</th>
            <th>Diff</th>
          </tr>
          <% for cx in 1..@last_compression %>
            <% next  if @compressions[cx].nil? %>
            <% if @compPct[cx] > @qualification.cylinder_compression_tolerance%>
              <% cylColor = '#800000' %>
            <% else %>
              <% cylColor = '#008000' %>
            <% end %>
            <tr>
              <td><%= cx %></td>
              <td>
                <font color="<%= cylColor %>">
                  <%= @compressions[cx] %>
                </font>
              </td>
              <td align="right"><font color="<%= cylColor %>">
                <%= number_with_precision(@compPct[cx], precision: 1) %>%
              </font></td>
            </tr>
          <% end %>

          <tr bgcolor="#e0e0e0">
            <th colspan="3"><font color="#006040">
              <center>Other</center>
            </font></th>
          </tr>
          <tr>
            <td colspan="2">Leakdown</td>
            <td colspan="1"><%= @qualification.leakdown %>%</td>
          </tr>
        <% end %>
	<tr>
	  <td colspan="3">
	    <a href="#">TBS Qualification Reports</a><br>
	    <a href="#">TBS Alighment Reports</a><br>
	    <a href="#">TBS 6-Gas Readout</a><br>
	    <a href="#">TBS Spectrum Analysis</a><br>
	  </td>
	</tr>
      </table>
    </div>
  </div>

  <div class="carbox">
    <div class="boxhdr">
      <B>Code History</B>
    </div>
    <div class="carbox2">
      <table border="1" class="anatab">
        <% for ch in @vehicle.code_histories %>
          <tr>
            <td><%= ch.cdate.strftime("%b %d, %Y") %></td>
            <td><%= ch.code %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="boxhdr">
      <B>Tire TD Readings</B>
    </div>
    <div class="carbox2">
      <table border="1" class="anatab">
        <% for td in @vehicle.tire_td_readings %>
          <tr>
            <td><%= td.tdate.strftime("%b %d, %Y") %></td>
            <td><%= td.depth32nds %>/32</td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="carbox">
    <div class="boxhdr">
      <B>BG Compliance</B>
    </div>
    <div class="carbox2">
      <table border="1" class="anatab">
	<tr>
	  <td>BG Compliant?</td>
	  <td><B><%= boolText(@vehicle.bg_compliant) %></B></td>
	</tr>
	<tr>
	  <td colspan="2">
	    <a href='#'>TBS View Paperwork</a>
	  </td>
	</tr>
      </table>
    </div>
    <div class="boxhdr">
      <B>Systems Covered</B>
    </div>
    <div class="carbox2">
      <table border="1" class="anatab">
        <% for bgsc in @vehicle.bg_system_covereds %>
          <tr>
            <td><%= bgsc.system.name %></td>
            <td>
              <% if bgsc.coverage.nil? or bgsc.coverage == 0 %>
                <B>No</B>
              <% else %>
                <B><%= number_to_currency(bgsc.coverage) %></B>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="endfloat">
  </div>

</div>

<div class="vehhistframe">
  <div class="payhistbox">
    <div class="boxhdr">
      <B>Membership Payment History</B>
    </div>
    <div class="payhistbox2">
      <center>
      <table border="1" class="anatab">
	<tr bgcolor="#e0e0e0">
	  <th colspan="3">
	    <font color="#006040">Level 3</font>
	    &nbsp; &nbsp; &nbsp; &nbsp;  
	    Payment Agreement: 
	    <a href='PaymentAgrmnt.html'>View</a>
	  </th>
	</tr>
	<tr>
	  <th>Base</th>
	  <th>Upgrade</th>
	  <th>Date</th>
	</tr>
        <% baseTotal = 0.0 %>
        <% upgTotal = 0.0 %>
	<!-- 10x 5.99 turbo  3 x 9.99 detail  4x7.00 tow -->
        <% for pmnt in vcust.payments %>
          <% next if not pmnt.statusCompleted? %>
          <% next if pmnt.contract.nil? %>

          <% upgradeNote = '' %>
          <% for ug in pmnt.contract.upgrades %>
            <% if upgradeNote == '' %>
              <% upgradeNote = ug.upgrade_type.name %>
            <% else %>
              <% upgradeNote += '+' %>
              <% break %>
            <% end %>
          <% end %>
          <% upgradeAmt = 0.0 %>

          <% if pmnt.status == Payment::STATUS_REFERRAL %>
            <% baseAmtStr = 'Ref.' %>
            <% upgradeNote = '' %>
          <% elsif pmnt.status == Payment::STATUS_UP_APPOVED %>
            <% baseAmtStr = 'Upgrd' %>
            <% upgradeAmt = pmnt.amount %>
          <% else # STATUS_APPOVED %>
            <% baseAmt = pmnt.contract.base_cost %>
            <% if baseAmt >= pmnt.amount %>
              <% baseAmt = pmnt.amount %>
              <% upgradeNote = '' %>
            <% else %>
              <% upgradeAmt = pmnt.amount - pmnt.contract.base_cost %>
            <% end %>
            <% baseAmtStr = number_to_currency(baseAmt) %>
            <% baseTotal += baseAmt %>
          <% end %>
          <% upgTotal += upgradeAmt %>

          <% if upgradeNote != '' %>
            <% upgradeNote = '(' + upgradeNote + ')' %>
          <% end %>

          <tr>
            <td><%= baseAmtStr %></td>
            <td>
              <%= number_to_currency(upgradeAmt) %>
              <%= upgradeNote %>
            </td>
            <td><%= pmnt.date_time.strftime("%b %d, %Y") %></td>
          </tr>
        <% end %>

	<tr>
	  <td><B><%= number_to_currency(baseTotal) %></B></td>
	  <td><B><%= number_to_currency(upgTotal) %></B></td>
	  <td><B><%= number_to_currency(baseTotal + upgTotal) %></B></td>
	</tr>
      </table>
      </center>
    </div>
    <div class="payhistbox2">
      <center>
      <B>Club Fees Only</B><br>
      <table class="nopad"><tr>
        <td>
          <table class="nopad">
            <% xgap = false %>
            <% for lgn in @clubFeesLegend %>
              <% if xgap %>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              <% end %>
              <tr>
                <td bgcolor="<%= lgn[:color] %>">&nbsp; &nbsp;</td>
                <td>
                  <%= lgn[:label] %><br>
                  <%= number_to_currency(lgn[:amount]) %><br>
                  <%= sprintf("%.1f", lgn[:percent])%>%
                </td>
              </tr>
              <% xgap = true %>
            <% end %>
          </table>
        </td>
        <td>
         <!-- <img src="<%= @graphUrls['clubfeespie'] %>">-->

	<iframe src="/analytics/pie" width="400" height="300">
        alternative content for browsers which do not support iframe.
      </iframe>
        </td>
      </tr></table>
      </center>
    </div>
  </div>

  <div class="visithistbox">
    <div class="boxhdr">
      <B>This Vehicle Service History</B>
    </div>
    <div class="visithistbox2">
      <!-- Yes, gon gem might make this easier, but staying lite for now -->
      <!-- Put the number of service visits on the page where javascript -->
      <!-- (intPopover.js) can find it.                                  -->
      <javascriptfind id="jsVisitCount" 
                      value="<%= @vehicle.service_visits.length %>" />
      <table border="1" class="anatab">
	<tr bgcolor="#e0e0e0">
	  <th colspan="8"><font color="#006040">
	    <center>Scheduled</center>
	  </font></th>
	</tr>
	<tr>
	  <th>Num</th>
	  <th>Date</th>
	  <th>Location</th>
	  <th>Hours in Garage</th>
	  <th>Description</th>
	  <th>Labor</th>
	  <th>Parts</th>
	  <th>View</th>
	</tr>
	<% vnum = 1 %>
	<% vnumHash = Hash.new %>
	<% schedPartSubtotal = 0.0 %>
	<% schedHoursSubtotal = 0.0 %>
	<% schedLaborSubtotal = 0.0 %>
	<% for vis in @vehicle.service_visits %>
	  <% svSums = getSumsForSvcVisit(vis) -%>
	  <% next unless svSums[:hasScheduled] -%>
	  <tr>
	    <td><a href="/service_visits/<%= vis.id %>"><%= vnum %></a></td>
	    <td><%= vis.sdate.strftime("%b %d, %Y") %></td>
	    <td><%= vis.store.number %>/<%= vis.store.name %></td>
	    <td><i>TBS</i></td>
	    <td><%= vis.description %></td>
	    <td><%= number_to_currency(svSums[:laborActual]) %></td>
	    <td><%= number_to_currency(svSums[:partsActual]) %></td>
	    <td>
	      <% vrid = "vr#{vnum}id" -%>
	      <% vrdiv = "vr#{vnum}id_div" -%>
	      <a id="<%= vrid %>" class="show_hide_popover" 
	         title="<%= vnum %>: <%= vis.sdate.strftime("%b %d") %>" 
		 data-placement='left' data-trigger="focus" 
		 tabindex="0" href='#'>View</a>
	      <a id="x<%= vrid %>" class='hide_popover' href='#'>Hide</a>
	    </td>
	  </tr>
	  <% schedPartSubtotal += svSums[:partsActual] %>
	  <% schedHoursSubtotal += svSums[:hoursActual] %>
	  <% schedLaborSubtotal += svSums[:laborActual] %>
	  <% vnumHash[vis.id] = vnum %>
	  <% vnum += 1 %>
	<% end %>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td><B>SUBTOTAL</B></td>
	  <td><B>
	    <%= number_to_currency(schedLaborSubtotal + schedPartSubtotal) %>
	  </B></td>
	  <td>
	    <B><%= number_with_precision(schedHoursSubtotal, precision: 1) %>hr/
	       <%= number_to_currency(schedLaborSubtotal) %></B>
	  </td>
	  <td><B><%= number_to_currency(schedPartSubtotal) %></B></td>
	  <td></td>
	</tr>





	<tr>
	  <th colspan="8" bgcolor="#ffffff">
	    <font size="+2">&nbsp; </font>
	  </th>
	</tr>
	<tr bgcolor="#e0e0e0">
	  <th colspan="8"><font color="#006040">
	    <center>Unscheduled</center>
	  </font></th>
	</tr>
	<tr>
	  <th>Num</th>
	  <th>Date</th>
	  <th>Location</th>
	  <th>Hours in Garage</th>
	  <th>Description</th>
	  <th>Labor</th>
	  <th>Parts</th>
	  <th>View</th>
	</tr>

	<% unschedPartSubtotal = 0.0 %>
	<% unschedHoursSubtotal = 0.0 %>
	<% unschedLaborSubtotal = 0.0 %>
	<% for vis in @vehicle.service_visits %>
	  <% svSums = getSumsForSvcVisit(vis) -%>
	  <% next if svSums[:hasScheduled] -%>
	  <tr>
	    <td><a href="/service_visits/<%= vis.id %>"><%= vnum %></a></td>
	    <td><%= vis.sdate.strftime("%b %d, %Y") %></td>
	    <td><%= vis.store.number %>/<%= vis.store.name %></td>
	    <td><i>TBS</i></td>
	    <td><%= vis.description %></td>
	    <td><%= number_to_currency(svSums[:laborActual]) %></td>
	    <td><%= number_to_currency(svSums[:partsActual]) %></td>
	    <td>
	      <% vrid = "vr#{vnum}id" -%>
	      <% vrdiv = "vr#{vnum}id_div" -%>
	      <a id="<%= vrid %>" class="show_hide_popover" 
	         title="<%= vnum %>: <%= vis.sdate.strftime("%b %d") %>" 
		 data-placement='left' data-trigger="focus" 
		 tabindex="0" href='#'>View</a>
	      <a id="x<%= vrid %>" class='hide_popover' href='#'>Hide</a>
	    </td>
	  </tr>
	  <% unschedPartSubtotal += svSums[:partsActual] %>
	  <% unschedHoursSubtotal += svSums[:hoursActual] %>
	  <% unschedLaborSubtotal += svSums[:laborActual] %>
	  <% vnumHash[vis.id] = vnum %>
	  <% vnum += 1 %>
	<% end %>

	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td><B>SUBTOTAL</B></td>
	  <td><B>
	   <%= number_to_currency(unschedLaborSubtotal + unschedPartSubtotal) %>
	  </B></td>
	  <td>
	    <B>
              <%= number_with_precision(unschedHoursSubtotal, precision: 1) %>
              hr/<%= number_to_currency(unschedLaborSubtotal) %></B>
	  </td>
	  <td><B><%= number_to_currency(unschedPartSubtotal) %></B></td>
	  <td></td>
	</tr>




	<tr>
	  <th colspan="8" bgcolor="#ffffff">
	    <font size="+2">&nbsp; </font>
	  </th>
	</tr>
	<tr bgcolor="#e0e0e0">
	  <th colspan="8"><font color="#006040">
	    <center>Totals</center>
	  </font></th>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td><B>TOTAL</B></td>
	  <td><B>
	   <%= number_to_currency(schedLaborSubtotal + schedPartSubtotal +
	                          unschedLaborSubtotal + unschedPartSubtotal) %>
	  </B></td>
	  <td>
	    <B><%= schedHoursSubtotal + unschedHoursSubtotal %>hr/
	       <%= number_to_currency(schedLaborSubtotal + 
	                              unschedLaborSubtotal) %></B>
	  </td>
	  <td><B><%= number_to_currency(schedPartSubtotal + 
	                                unschedPartSubtotal) %></B></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td><B>YTD EXPECTED</B></td>
	  <td><i>TBS</i></td>
	  <td><i>TBS</i></td>
	  <td><i>TBS</i></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	  <td><B>DIFFERENCE</B></td>
	  <!--
	  <td><B><font color="#008000">-0.15hr/$8.50</B></font></td>
	  <td><B><font color="#008000">-$7.28</B></font></td>
	  -->
	  <td><i>TBS</i></td>
	  <td><i>TBS</i></td>
	  <td><i>TBS</i></td>
	  <td></td>
	</tr>

      </table>
    </div> <!-- visithistbox2 -->

    <!-- contents of service visit popovers -->
    <% for vis in @vehicle.service_visits %>
      <% vnum = vnumHash[vis.id] %>
      <% vrdiv = "vr#{vnum}id_div" -%>
      <div id="<%= vrdiv %>" style="display: none">
	<table border="1" class="anatab">
	  <tr>
	    <th>Labor</th>
	    <th>Parts</th>
	  </tr>
	  <!-- Accumulate list of parts and labor for this visit. -->
	  <!-- Will populate colums below with them in parallel. -->
	  <% xParts = Array.new %>
	  <% xTechHours = Array.new %>
	  <% for sli in vis.service_line_items %>
	    <% for service_part in sli.service_parts %>
	      <% xParts.push(service_part) %>
	    <% end %>
	    <% for techhr in sli.technician_hours %>
	      <% xTechHours.push(techhr) %>
	    <% end %>
	  <% end %>
	  <% tabDex = 0 %>
	  <% partTot = 0.0 %>
	  <% laborTot = 0.0 %>
	  <% while tabDex < xParts.length or tabDex < xTechHours.length  %>
	    <tr>

	      <% if tabDex < xTechHours.length  %>
	        <td>T#<%= xTechHours[tabDex].technician_id %>
		      /
		      <%= xTechHours[tabDex].technician.employee.last_name %>
		      <br>
		      <%= number_with_precision(
		                     xTechHours[tabDex].labor_hours_actual,
		                                precision: 2) %>
		      hrs @ 
		      <%= number_to_currency(
			  xTechHours[tabDex].labor_rate_actual) %>
		      <% laborTot += xTechHours[tabDex].labor_rate_actual *
		                     xTechHours[tabDex].labor_hours_actual %>
		</td>
	      <% else %>
	        <td>&nbsp;</td>
	      <% end %>

	      <% if tabDex < xParts.length  %>
	        <td>P#<%= xParts[tabDex].part.part_number %>
		<br>
		<%= xParts[tabDex].part.part_name.name %>

                <% pprice = xParts[tabDex].part_actual_price %>
                <% if xParts[tabDex].quantity %>
		  <% if pprice %>
                    <% tprice = pprice * xParts[tabDex].quantity %>
		    <% partTot += tprice %>
                    <% stprice = number_to_currency(tprice) %>
		    <% spprice = number_to_currency(pprice) %>
                  <% else %>
                    <% spprice = '????' %>
                    <% stprice = '????' %>
                  <% end %>
                <% else %>
		  <% if pprice %>
                    <% spprice = number_to_currency(pprice) %>
		    <% partTot += pprice %>
                  <% else %>
                    <% spprice = '????' %>
                  <% end %>
                <% end %>

                <% if xParts[tabDex].quantity and xParts[tabDex].quantity > 1 %>
                  <%= number_with_precision(xParts[tabDex].quantity, 
                                                               precision: 1) %>
                  x <%= spprice %> = <%= stprice %>
                <% else %>
                  <%= spprice %>
                <% end %>

		</td>
	      <% else %>
	        <td>&nbsp;</td>
	      <% end %>
	    </tr>
	    <% tabDex += 1 %>
	  <% end %>
	  <tr>
	    <td><B>Total:</B> <%= number_to_currency(laborTot) %></td>
	    <td><B>Total:</B> <%= number_to_currency(partTot) %></td>
	  </tr>
	</table>
      </div>
    <% end %>
    <!-- end of contents of popovers -->

  </div> <!-- end This Vehicle Service History -->

  <div class="plbox">
    <div class="boxhdr">
      <B>Profit/Loss This Vehicle</B>
    </div>
    <div class="plbox2">
      <center>
      <table border="1" class="anatab">
	<tr>
	  <td>Qualification Sale</td>
	  <td align="right"><font color="#008000">
            <%= number_to_currency(@qualRetail) %>
          </font></td>
	</tr>
	<tr>
	  <td>Qualification Labor Cost</td>
	  <td align="right"><font color="#800000">
            <%= number_to_currency(@qualLaborActual) %>
          </font></td>
	</tr>
	<tr>
	  <td>Qualification Parts Cost</td>
	  <td align="right"><font color="#800000">
            <%= number_to_currency(@qualPartsActual) %>
          </font></td>
	</tr>
	<tr>
	  <td>Gross Profit on Qual</td>
	  <td align="right">
            <% gpoq = @qualRetail - (@qualLaborActual + @qualPartsActual) %>
            <%= number_to_currency(gpoq) %>
          </td>
	</tr>

	<tr>
	  <td colspan="2">&nbsp;</td>
	</tr>
	<tr>
	  <td>Membership Income</td>
	  <td align="right"><font color="#008000">
            <%= number_to_currency(@membIncome) %>
          </font></td>
	</tr>
	<tr>
	  <td>Membership Labor Cost</td>
	  <td align="right"><font color="#800000">
            <%= number_to_currency(@membLaborActual) %>
          </font></td>
	</tr>
	<tr>
	  <td>Membership Parts Cost</td>
	  <td align="right"><font color="#800000">
            <%= number_to_currency(@membPartsActual) %>
          </font></td>
	</tr>
	<tr>
	  <td>Membership Total Expense</td>
	  <td align="right"><font color="#800000">
            <%= number_to_currency(@membLaborActual + @membPartsActual) %>
          </font></td>
	</tr>

        <% if @notCoveredIncome != 0.0 %>
          <tr>
            <td>Membership Not Covered Income</td>
            <td align="right"><font color="#008000">
              <%= number_to_currency(@notCoveredIncome) %>
            </font></td>
          </tr>
          <tr>
            <td>Membership Not Covered Labor Cost</td>
            <td align="right"><font color="#800000">
              <%= number_to_currency(@notCoveredLaborActual) %>
            </font></td>
          </tr>
          <tr>
            <td>Membership Not Covered Parts Cost</td>
            <td align="right"><font color="#800000">
              <%= number_to_currency(@notCoveredPartsActual) %>
            </font></td>
          </tr>
        <% end %>

        <% if @otherIncome != 0.0 %>
          <tr>
            <td>Other Income</td>
            <td align="right"><font color="#008000">
              <%= number_to_currency(@otherIncome) %>
            </font></td>
          </tr>
          <tr>
            <td>Other Labor Cost</td>
            <td align="right"><font color="#800000">
              <%= number_to_currency(@otherLaborActual) %>
            </font></td>
          </tr>
          <tr>
            <td>Other Parts Cost</td>
            <td align="right"><font color="#800000">
              <%= number_to_currency(@otherPartsActual) %>
            </font></td>
          </tr>
        <% end %>

	<tr>
	  <td colspan="2">&nbsp;</td>
	</tr>
	<tr>
	  <td>Vehicle Gross Income</td>
	  <td align="right">
            <%= number_to_currency(@totalIncome) %>
          </td>
	</tr>
	<tr>
	  <td>
            <% if @profit < 0.0 %>
              <font color="#800000">
            <% else %>
              <font color="#008000">
            <% end %>
            <B>NET PROFIT</B></font>
          </td>
	  <td align="right"><font color="#008000"><B>
            <%= number_to_currency(@profit) %>
          </B></font></td>
	</tr>
      </table>
      


      
    </div>
  </div>

  <div class="genitembox">
    <div class="boxhdr">
      <B>&nbsp; Membership Parts and Labor Cost &nbsp;</B>
    </div>
    <div class="gendatabox">
      <center>
        <B><I>
	<iframe src="/analytics/bar" width="400" height="300">
        alternative content for browsers which do not support iframe.
      </iframe>
	</I></B>
       <!-- <img src="images/BarPartLabr.png"> -->
      </center>
    </div>
  </div>

  <% for finagrmt in vcust.finance_agreements %>
    <div class="genitembox">
      <div class="boxhdr">
	<B>Finance Agreement</B>
      </div>
      <div class="gendatabox">
	<div class="financetblbox">
	  <table border="1" class="anatab">
	    <tr>
	      <th colspan="2">
		<center><B>Overview</B></center>
	      </th>
	    </tr>
	    <tr>
	      <td>Missed Payments</td>
	      <td><%= @finagrmtHash[finagrmt.id][:missedPayments] %></td>
	    </tr>
	    <tr>
	      <td>Missed Payment Fee</td>
	      <td><%= number_to_currency(finagrmt.missed_payment_fee) %></td>
	    </tr>
	    <tr>
	      <td>Total Principal</td>
	      <td><%= number_to_currency(finagrmt.total_principal) %></td>
	    </tr>
	    <tr>
	      <td>Finance Fee 10%</td>
	      <td>
	        <%= number_to_currency(finagrmt.finance_fee) %>
	      </td>
	    </tr>
	    <tr>
	      <td>Monthly Payment</td>
	      <td>
	        <%= number_to_currency(finagrmt.monthly_payment_amount) %>
	      </td>
	    </tr>
	    <tr>
	      <td>Total Fees</td>
	      <td>
	        <%= number_to_currency(finagrmt.missed_payment_fee +
		                       (finagrmt.finance_fee)) %>
	      </td>
	    </tr>
	    <tr>
	      <td>Start Date</td>
	      <td><%= finagrmt.start_date.strftime("%b %d, %Y") %></td>
	    </tr>
	    <tr>
	      <td>End Date</td>
	      <td><%= finagrmt.end_date.strftime("%b %d, %Y") %></td>
	    </tr>
	  </table>
	</div>
      </div> <!-- end gendatabox -->

      <div class="gendatabox">
	<div class="financetblbox">
	  <table border="1" class="anatab">
	    <tr>
	      <th>Payment Amount</th>
	      <th>Payment Date</th>
	    </tr>
	    <% for payForThis in @finagrmtHash[finagrmt.id][:paymentList] %>
	      <tr>
	        <td><%= number_to_currency(payForThis.amount) %></td>
		<td><%= payForThis.date_time.strftime("%b %d, %Y") %></td>
	      </tr>
	    <% end %>

	    <tr>
	      <td><B>Income Total</B></td>
	      <td><B>
	        <%= number_to_currency(@finagrmtHash[finagrmt.id][:income]) %>
	      </B></td>
	    </tr>
	    <tr>
	      <td><B>Balance</B></td>
	      <td><B>
	        <%= number_to_currency(@finagrmtHash[finagrmt.id][:balance]) %>
	      </B></td>
	    </tr>
	    <tr>
	      <td>Title</td>
	      <td>
		<a id="titlphot" class="show_hide_popover" 
		   title="Title" 
		   data-placement='left' data-trigger="focus" 
		   tabindex="0" href='#'>TBS View</a>
		<a id="xtitlphot" class='hide_popover' href='#'>Hide</a>
	      </td>
	    </tr>
	    <tr>
	      <td>Finance Agreement</td>
	      <td>
		<a href='LoanAgrmnt.html'>TBS View</a>
	      </td>
	    </tr>
	  </table>
	</div>
	<div id="titlphot_div" style="display: none">
	  <img src="images/FloridaTitle.jpg">
	</div>
	<div class="endfloat">
	</div>
      </div>  <!-- end gendatabox -->

    </div> <!-- end genitembox -->
  <% end %>

  <div class="genitembox">
    <div class="boxhdr">
      <B>&nbsp;Automatic Data Link Info&nbsp;</B>
    </div>
    <div class="gendatabox">
      <div class="financetblbox">
	<table border="1" class="anatab">
          <% for adlisn in @adliSerials %>
            <tr bgcolor="#e0e0e0">
              <th colspan="2">
                <font color="#006040">
                  <center><B>S/N <%= adlisn %></B></center>
                </font>
              </th>
            </tr>
            <% for dli in @vehicle.automatic_data_link_infos %>
              <% next unless dli.serial_number == adlisn %>
              <tr>
                <td><%= dli.idate.strftime("%b %d, %Y") %></td>
                <td><%= dli.data %></td>
              </tr>
            <% end %>
          <% end %>
	</table>
      </div>
      <div class="endfloat">
      </div>
    </div>  <!-- end gendatabox -->
  </div>

  <div class="genitembox">
    <div class="boxhdr">
      <B>&nbsp;TSB and Recalls&nbsp;</B>
    </div>
    <div class="gendatabox">
      <div class="financetblbox">
	<table border="1" class="anatab">
          <% for tsbr in @vehicle.ts_band_recalls %>
            <tr>
              <td><%= tsbr.name %></td>
              <% if tsbr.date_completed.nil? %>
                <td><font color="#800000">NOT DONE</font></td>
              <% else %>
                <td><font color="#008000">
                  Done <%= tsbr.date_completed.strftime("%b %d, %Y") %>
                </font></td>
              <% end %>
            </tr>
          <% end %>
	</table>
      </div>
      <div class="endfloat">
      </div>
    </div>  <!-- end gendatabox -->
  </div>

  <div class="genitembox">
    <div class="boxhdr">
      <B>Mileage Tracker</B>
    </div>
    <div class="gendatabox">
      <center>
        <!--<B><I><font color="#800080">Line chart TBS</font></I></B>
        <img src="images/15kMilYr.png"> -->
	
	<iframe src="/analytics/basic" width="450" height="300">
        alternative content for browsers which do not support iframe.
      </iframe>
	
      </center>
    </div>
    <div class="gendatabox">
      <B>Allowed miles:</B> <%= number_with_precision(@allowedMiles, 
                                     :precision => 0, :delimiter => ',') %><br>
      <% if @avgMilesPerYearRecent %>
        <B>Yearly miles:</B> <%= number_with_precision(@avgMilesPerYearRecent, 
                                     :precision => 0, :delimiter => ',') %><br>
        <% if @avgMilesPerYearRecent < @allowedMiles %>
          <font color="#008000"><B>Under by
              <%= number_with_precision(@allowedMiles - @avgMilesPerYearRecent,
                                        :precision => 0, :delimiter => ',') %>
              </B></font>
        <% else %>
          <font color="#800000"><B>Over by
              <%= number_with_precision(@avgMilesPerYearRecent - @allowedMiles,
                                        :precision => 0, :delimiter => ',') %>
              </B></font>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="endfloat">
    <center>
      Copyright &copy; 1999-<%= @nowYear %> Innovative Auto, Inc.
      and Membership Auto.  All rights reserved.
    </center>
  </div>
</div>

<a href="/vehicles/search_int1">New Search</a> &nbsp; | &nbsp;
<a href="/top/analytics">Analytics</a>
