<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :invoice_number %><br />
    <%= f.text_field :invoice_number %>
  </div>
  <div class="field">
    <%= f.label :date_time %><br />
    <%= f.datetime_select :date_time %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br />
    <%= select("invoice", "customer_id", @customerCollect,
                                          {prompt: 'Select Customer'}) %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <select id="invoice_status" name="invoice[status]">
      <%= options_for_select(@statusOptions, @selStatus) %>
    </select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
