<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :begin_date %><font color="#800000">*</font><br />
    <%= f.date_select :begin_date %>
  </div>
  <div class="field">
    <%= f.label :number %><font color="#800000">*</font><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :status %><font color="#800000">*</font><br />
    <select id="contract_status" name="contract[status]">
      <%= options_for_select(@statusOptions, @selStatus) %>
    </select>
  </div>
  <div class="field">
    <%= f.label :image_id %><br />
    <%= f.number_field :image_id %>
  </div>
  <div class="field">
    <%= f.label :salesperson_id, 'Salesperson' %><br />
    <%= select("contract", "salesperson_id", @salespersonCollect,
                                            {prompt: 'Select Salesperson'}) %>
  </div>
  <div class="field">
    <%= f.label :level %><font color="#800000">*</font><br />
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :base_cost %><font color="#800000">*</font><br />
    <%= f.text_field :base_cost %>
  </div>
  <div class="field">
    <%= f.label :day_of_payment, 'Day of month when payment is made' %>
    <font color="#800000">*</font><br />
    <%= f.number_field :day_of_payment %>
  </div>
  <div class="field">
    <%= f.label :discount, 'Discount in dollars and cents' %><br />
    $<%= f.number_field :discount %>
  </div>
  <div class="field">
    <%= f.label :discount_percent %><br />
    <%= f.number_field :discount_percent %>%
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
