<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if not defined?(isGroundFloor) %>
    <% isGroundFloor = false %>
  <% end %>
  <div class="field">
    <%= f.label :number %><font color="#800000">*</font><br />
    <%= f.text_field :number %>
    <i>When you create or edit the vehicle, you will point it to this
       contract number.</i>
  </div>
  <div class="field">
    <%= f.label :begin_date %><font color="#800000">*</font>
    <%= f.date_select :begin_date %>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <%= f.label :status %><font color="#800000">*</font>
    <select id="contract_status" name="contract[status]">
      <%= options_for_select(@statusOptions, @selStatus) %>
    </select>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <%= f.label :salesperson_id, 'Salesperson' %>
    <%= select("contract", "salesperson_id", @salespersonCollect,
                                            {prompt: 'Select Salesperson'}) %>
  </div>
  <% if isGroundFloor %>
     <input name="is_ground_floor" type="hidden" value="Y" />
  <% else %>
    <div class="field">
      <%= f.label :image_id %><br />
      <%= f.number_field :image_id %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :level %><font color="#800000">*</font>
    <%= f.number_field :level, :size => 4 %>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <%= f.label :base_cost %><font color="#800000">*</font>
    $<%= f.text_field :base_cost, :size => 8  %>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <%= f.label :day_of_payment, 'Day of month when payment is made' %>
    <font color="#800000">*</font>
    <%= f.number_field :day_of_payment, :size => 4 %>
  </div>
  <div class="field">
    <%= f.label :discount, 'Discount in dollars and cents' %>
    $<%= f.number_field :discount, :size => 8 %>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <%= f.label :discount_percent %>
    <%= f.number_field :discount_percent, :size => 8 %>%
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
