<h2>Listing contracts</h2>

<table border="1" class="ft_dbtab">
  <tr bgcolor="#F0FFF0">
    <th>Begin date</th>
    <th>Number</th>
    <th>Status</th>
    <th>Image</th>
    <th>Salesperson</th>
    <th>Level</th>
    <th>Base cost</th>
    <th>Day of payment</th>
    <th>Discount</th>
    <th>Discount%</th>
    <th colspan="3"><i>Actions</i></th>
  </tr>

<% @contracts.each do |contract| %>
  <tr>
    <td><%= contract.begin_date %></td>
    <td><%= contract.number %></td>
    <td><%= contract.statusText %></td>
    <td><%= contract.image_id %></td>
    <td>
      <% if contract.salesperson %>
        <%= contract.salesperson.employee.nameText %>
      <% else %>
        <i>None</i>
      <% end %>
    </td>
    <td><%= contract.level %></td>
    <td><%= number_to_currency(contract.base_cost) %></td>
    <td><%= contract.day_of_payment %></td>
    <td><%= number_to_currency(contract.discount) %></td>
    <td><%= contract.discount_percent %>%</td>
    <td><%= link_to 'Show', contract %></td>
    <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
    <td><%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contract', new_contract_path %>
&nbsp; | &nbsp; <a href="/top/db">All DB tables</a>
