<head>
    <title>Pie Chart</title>
    <script src="/../assets/javascripts/mockup/Chart.bundle.js"></script>
    <script src="/../assets/javascripts/mockup/utils.js"></script>
 <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>

</head>


<body>
<h2 align="center"> <B> Profit Loss statistics of Payment Plans </B></h2>

<%= render :partial => 'search_form_for_plan_vehicles',
           :locals => { :target_cm => 'analytics/int2',
                        :target_label => 'View', :isGroundFloor => true } %>               

<% if @contracts.length == 0 %>
  <P><i>No matching vehicles found.</i></P>
<% end %>

<table border="1" class="ft_dbtab">
  <tr bgcolor="#F0FFF0">
    <th>Vin</th>
    <th>Make-Model-Year</th>
    <th>Labor Cost</th>
    <th>Parts Cost</th>
    <th>Revenue</th>

    <th>Profit/Loss</th>
  </tr>

<% if defined?(@isGroundFloor) and @isGroundFloor %>
  <% eaction = 'gfedit' %>
<% else %>
  <% eaction = 'edit' %>
<% end %>



<% @contracts.each do |c| %>
<% @vehicle_profit_losses.each do |vehicle|%>
 <% if vehicle.contract_id == c.id %>
  <% if vehicle.profit_loss > 0 %>
	<% @profit_loss[0] += 1 %>
  <% elsif vehicle.profit_loss == 0 %>
	<% @profit_loss[1] += 1 %>
  <% else %>
	<% @profit_loss[2] += 1 %>
  <% end %>
  <% @total_profit_loss += vehicle.profit_loss %>
  <tr>
    <td><%= vehicle.vin %></td>
    <td><%= vehicle.make.name %>-<%= vehicle.model.name unless vehicle.model.nil? %>-<%= vehicle.date_of_manufacture %></td>
    <td><%= vehicle.vehicle_labor_actual_cost %></td>
    <td><%= vehicle.vehicle_parts_actual_cost %></td>
    <td><%= vehicle.vehicle_revenue %></td>
    <td><%= vehicle.profit_loss %> </td>  
  </tr>
<% end %>
<% end %>
<% end %>
<b> &nbsp; </b>
<b> Total profit loss  of current selection = <%= @total_profit_loss %> <br/></b>
<b> &nbsp; </b>
</table>

<h3> #Vehicles in Profit and in Loss </h3>

<div id="canvas-holder" style="width:100%">
        <canvas id="chart-area" />
    </div>

    <script>
    var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
    };

   //var c =	new Array();
  // c = <%= raw @pie_int2_graph.to_json %>;


    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [<%= raw @profit_loss[0].to_json %>, <%= raw @profit_loss[1].to_json %>, <%= raw @profit_loss[2].to_json %>]
		//[4,5,3]
                   
                ,
                backgroundColor: [
                    window.chartColors.green,
                    window.chartColors.yellow,
                    window.chartColors.red,
                ],
                label: 'Dataset 1'
            }],
            labels: [
                "Profit",
                "Break Even",
                "Loss"
            ]
        },
        options: {
            responsive: true
        }
    };

    window.onload = function() {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myPie = new Chart(ctx, config);
    };

    document.getElementById('randomizeData').addEventListener('click', function() {
        config.data.datasets.forEach(function(dataset) {
            dataset.data = dataset.data.map(function() {
                return randomScalingFactor();
            });
        });

        window.myPie.update();
    });

    var colorNames = Object.keys(window.chartColors);
    document.getElementById('addDataset').addEventListener('click', function() {
        var newDataset = {
            backgroundColor: [],
            data: [],
            label: 'New dataset ' + config.data.datasets.length,
        };

        for (var index = 0; index < config.data.labels.length; ++index) {
            newDataset.data.push(randomScalingFactor());

            var colorName = colorNames[index % colorNames.length];;
            var newColor = window.chartColors[colorName];
            newDataset.backgroundColor.push(newColor);
        }

        config.data.datasets.push(newDataset);
        window.myPie.update();
    });

    document.getElementById('removeDataset').addEventListener('click', function() {
        config.data.datasets.splice(0, 1);
        window.myPie.update();
    });
    </script>



</body>

