<%= form_for(@upgrade) do |f| %>
  <% if @upgrade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upgrade.errors.count, "error") %> prohibited this upgrade from being saved:</h2>

      <ul>
      <% @upgrade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contract_id %><font color="#800000">*</font><br />
    <%= select("upgrade", "contract_id", @contractCollect,
					      {prompt: 'Select Contract'}) %>
  </div>
  <div class="field">
    <%= f.label :upgrade_type_id %><font color="#800000">*</font><br />
    <%= select("upgrade", "upgrade_type_id", @upgradeTypeCollect,
					  {prompt: 'Select Upgrade Type'}) %>
    (from <a href="/upgrade_types">Upgrade types table</a>)
  </div>
  <div class="field">
    <%= f.label :cost %><font color="#800000">*</font><br />
    $<%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
