<h2>Listing upgrades</h2>

<table border="1" class="ft_dbtab">
  <tr bgcolor="#F0FFF0">
    <th>Contract</th>
    <th>Upgrade type</th>
    <th>Cost</th>
    <th colspan="3"><i>Actions</i></th>
  </tr>

<% @upgrades.each do |upgrade| %>
  <tr>
    <td>ID <%= upgrade.contract_id %>: <%= upgrade.contract.number %></td>
    <td><%= upgrade.upgrade_type.name %></td>
    <td><%= number_to_currency(upgrade.cost) %></td>
    <td><%= link_to 'Show', upgrade %></td>
    <td><%= link_to 'Edit', edit_upgrade_path(upgrade) %></td>
    <td><%= link_to 'Destroy', upgrade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Upgrade', new_upgrade_path %>
&nbsp; | &nbsp; <a href="/top/db">All DB tables</a>
