<p id="notice"><%= notice %></p>

<p>
  <b>Contract:</b>
  <%= @upgrade.contract_id %>
</p>

<p>
  <b>Upgrade type:</b>
  <%= @upgrade.upgrade_type_id %>
</p>

<p>
  <b>Cost:</b>
  <%= @upgrade.cost %>
</p>


<%= link_to 'Edit', edit_upgrade_path(@upgrade) %> |
<%= link_to 'Back', upgrades_path %>
