<%= form_for(@service_journals_event) do |f| %>
  <% if @service_journals_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_journals_event.errors.count, "error") %> prohibited this service_journals_event from being saved:</h2>

      <ul>
      <% @service_journals_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><font color="#800000">*</font><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
