<h1>Listing part_names</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @part_names.each do |part_name| %>
  <tr>
    <td><%= part_name.name %></td>
    <td><%= link_to 'Show', part_name %></td>
    <td><%= link_to 'Edit', edit_part_name_path(part_name) %></td>
    <td><%= link_to 'Destroy', part_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Part name', new_part_name_path %>
