<%= form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Store Name' %><font color="#800000">*</font><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :number, 'Store Number' %><font color="#800000">*</font><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :manager_id, 'Manager' %><br />
    <%= select("store", "manager_id", @employeeCollect,
                                               {prompt: 'Select Employee'}) %>
  </div>
  <div class="field">
    <%= f.label :street_address %><br />
    <%= f.text_field :street_address %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state_id, 'State' %><br />
    <%= select("store", "state_id", @stateCollect, {prompt: 'Select State'}) %>
  </div>
  <div class="field">
    <%= f.label :county_id, 'County' %><br />
    <%= select("store", "county_id", @countyCollect,
                                                  {prompt: 'Select County'}) %>
    &nbsp; <a href="/counties/new">
    Add a new county</a>
  </div>
  <div class="field">
    <%= f.label :region_id, 'Region' %><br />
    <%= select("store", "region_id", @regionCollect,
                                                  {prompt: 'Select Region'}) %>
    &nbsp; <a href="/regions/new">
    Add a new region</a>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :number_of_lifts %><font color="#800000">*</font><br />
    <%= f.number_field :number_of_lifts %>
  </div>
  <div class="field">
    <%= f.label :capacity, 'Capacity (number of contracts)' %>
    <font color="#800000">*</font><br />
    <%= f.number_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :break_even, 'Break-even (number of contracts)' %>
    <font color="#800000">*</font><br />
    <%= f.number_field :break_even %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
