<%= form_for(@service_description) do |f| %>
  <% if @service_description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_description.errors.count, "error") %> prohibited this service_description from being saved:</h2>

      <ul>
      <% @service_description.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :service_category_id %><br />
    <%= f.number_field :service_category_id %>
  </div>
  <div class="field">
    <%= f.label :labor_rate_retail %><br />
    <%= f.text_field :labor_rate_retail %>
  </div>
  <div class="field">
    <%= f.label :labor_hours_retail %><br />
    <%= f.text_field :labor_hours_retail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
