<h2>Listing service_descriptions</h2>
<P>
<B>For dropdown in service line item</B>
</P>

<table border="1" class="ft_dbtab">
  <tr bgcolor="#F0FFF0">
    <th>Name</th>
    <th>Service category</th>
    <th>Labor rate retail</th>
    <th>Labor hours retail</th>
    <th colspan="3"><i>Actions</i></th>
  </tr>

<% @service_descriptions.each do |service_description| %>
  <tr>
    <td><%= service_description.name %></td>
    <td><%= service_description.service_category.name %></td>
    <td><%= number_to_currency(service_description.labor_rate_retail) %></td>
    <td><%= number_with_precision(service_description.labor_hours_retail,
                                  precision: 2) %></td>
    <td><%= link_to 'Show', service_description %></td>
    <td><%= link_to 'Edit', edit_service_description_path(service_description) %></td>
    <td><%= link_to 'Destroy', service_description, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service description', new_service_description_path %>
&nbsp; | &nbsp; <a href="/top/db">All DB tables</a>
