<%= form_for(@wheel_drife) do |f| %>
  <% if @wheel_drife.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wheel_drife.errors.count, "error") %> prohibited this wheel_drife from being saved:</h2>

      <ul>
      <% @wheel_drife.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
