<%= form_for(@scheduled_appointment) do |f| %>
  <% if @scheduled_appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scheduled_appointment.errors.count, "error") %> prohibited this scheduled_appointment from being saved:</h2>

      <ul>
      <% @scheduled_appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_time %><br />
    <%= f.datetime_select :date_time %>
  </div>
  <div class="field">
    <%= f.label :actual_date_time %><br />
    <%= f.datetime_select :actual_date_time %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <select id="scheduled_appointment_status" 
            name="scheduled_appointment[status]">
      <%= options_for_select(@statusOptions, @selStatus) %>
    </select>
  </div>
  <div class="field">
    <%= f.label :purpose %><br />
    <select id="scheduled_appointment_purpose" 
            name="scheduled_appointment[purpose]">
      <%= options_for_select(@purposeOptions, @purpStatus) %>
    </select>
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br />
    <%= select("scheduled_appointment", "vehicle_id", @vehicleCollect,
                                          {prompt: 'Select Vehicle'}) %>
  </div>
  <div class="field">
    <%= f.label :store_id %><br />
    <%= select("scheduled_appointment", "store_id", @storeCollect,
                                              {prompt: 'Select Store'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
