<%= form_for(@service_visit) do |f| %>
  <% if @service_visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_visit.errors.count, "error") %> prohibited this service_visit from being saved:</h2>

      <ul>
      <% @service_visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mileage %><br />
    <%= f.number_field :mileage %>
  </div>
  <div class="field">
    <%= f.label :sdate %><br />
    <%= f.datetime_select :sdate %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :store_id %><br />
    <%= select("service_visit", "store_id", @storeCollect,
                                                  {prompt: 'Select Store'}) %>
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br />
    <%= select("service_visit", "vehicle_id", @vehicleCollect,
                                                {prompt: 'Select Vehicle'}) %>
  </div>
  <div class="field">
    <%= f.label :invoice_id %><br />
    <%= select("service_visit", "invoice_id", @invoiceCollect,
                                                {prompt: 'Select Invoice'}) %>
  </div>
  <div class="field">
    <%= f.label :salesperson_id, 'Salesperson' %><br />
    <%= select("service_visit", "salesperson_id", @salespersonCollect,
					    {prompt: 'Select Salesperson'}) %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
