<form accept-charset="UTF-8" action="/service_visits/<%= form_action %>" 
      class="service_visit" id="service_visit" method="post">
<input name="authenticity_token" type="hidden" 
                                    value="<%= form_authenticity_token %>" />
<%= fields_for @service_visit do |f| %>
  <% if @service_visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_visit.errors.count, "error") %> prohibited this service_visit from being saved:</h2>

      <ul>
      <% @service_visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input name="service_visit[vehicle_id]" type="hidden" 
                                          value="<%= @vehicle.id %>" />
  <div class="field">
    <%= f.label :status %>:<font color="#800000">*</font>
    <select id="service_visit_status" name="service_visit[status]">
      <%= options_for_select(@statusOptions, @selStatus) %>
    </select>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :mileage %>:<font color="#800000">*</font>
    <%= f.number_field :mileage, :size => 8 %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :sdate, 'Date of service' %>:<font color="#800000">*</font>
    <%= f.datetime_select :sdate %>
  </div>
  <div class="field">
    <%= f.label :description, 'Brief Description' %>:
    <%= f.text_field :description, :size => 80 %>
  </div>
  <div class="field">
    <%= f.label :store_id %><font color="#800000">*</font>
    <%= select("service_visit", "store_id", @storeCollect,
                                                  {prompt: 'Select Store'}) %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :salesperson_id, 'Salesperson' %>:
    <%= select("service_visit", "salesperson_id", @salespersonCollect,
					    {prompt: 'Select Salesperson'}) %>
  </div>
  <hr>
  <div>
    <% if @service_visit.service_line_items.length > 0 %>
      <% svTotalRetail = 0.0 %>
      <% svTotalActual = 0.0 %>
      <b>Existing Service Line Items:</b><br>
      <table border="1" class="ft_dbtab">
        <tr bgcolor="#F0FFF0">
          <th>Type</th>
          <th>Description</th>
          <th>Desc text</th>
          <th>Total retail</th>
          <th>Total actual</th>
          <th>Total profit</th>
          <th><i>Action</i></th>
        </tr>

        <% for service_line_item in @service_visit.service_line_items %>
          <% setTotalsForSvcLineItem(service_line_item) -%>
          <tr>
            <td><%= stypeText(service_line_item.stype) %></td>
            <td>
              <a href="/service_line_items/<%= service_line_item.id %>">
                <%= service_line_item.service_description.name %>
              </a>
            </td>
            <td><%= service_line_item.service_description_text %></td>
            <td>
              <%= number_to_currency(@sliTotLaborRetail + @sliTotPartsRetail) %>
            </td>
            <td>
              <%= number_to_currency(@sliTotLaborActual + @sliTotPartsActual) %>
            </td>
            <td><%= number_to_currency(@sliTotProfit) %></td>
            <td bgcolor="#FFE0E0">
              <%= link_to 'Edit', edit_service_line_item_path(service_line_item) %>
              &nbsp;
              <a href="/service_parts/sp_for_sli/<%= service_line_item.id %>">
                Add part
              </a>
            </td>
          </tr>

          <% if service_line_item.service_parts.length > 0 %>
            <tr>
              <td> &nbsp; </td>
              <td colspan="6">

                <table border="1" class="ft_dbtab">
                  <tr bgcolor="#F0FFF0">
                    <th>Part</th>
                    <th>Qty</th>
                    <th>Part unit retail</th>
                    <th>Part unit actual</th>
                    <th>Part retail</th>
                    <th>Part actual</th>
                    <th><i>Actions</i></th>
                  </tr>

                  <% service_line_item.service_parts.each do |spart| %>
                    <tr>
                      <td><%= spart.part.part_name.name %></td>
                      <td><%= spart.quantity %></td>
                      <td>
                        <%= number_to_currency(spart.part_retail_price) %>
                      </td>
                      <td>
                        <% if spart.part_actual_price %>
                          <%= number_to_currency(spart.part_actual_price) %>
			<% end %>
                      </td>
                      <% x = spart.quantity * spart.part_retail_price -%>
                      <td><%= number_to_currency(x) %></td>
                      <td>
                        <% if spart.part_actual_price %>
                          <% x = spart.quantity * spart.part_actual_price -%>
		          <%= number_to_currency(x) %>
			<% end %>
		      </td>
                      <td bgcolor="#FFE0E0">
                        <%= link_to 'Edit', edit_service_part_path(spart) %>
                        &nbsp;
                        <%= link_to 'Delete', spart, method: :delete,
                            data: { confirm: 'Are you sure?' } %>
                      </td>
                    </tr>
                  <% end %>
                </table>

              </td>
            </tr>
          <% end %>  <%# service_line_item.service_parts.length > 0 %>

          <% if service_line_item.technician_hours.length > 0 %>
            <tr>
              <td> &nbsp; </td>
              <td colspan="6">

                <table border="1" class="ft_dbtab">
                  <tr bgcolor="#F0FFF0">
                    <th>Technician</th>
                    <th>Labor Hours Retail</th>
                    <th>Labor Rate Retail</th>
                    <th>Labor Hours Actual</th>
                    <th>Labor Rate Actual</th>
                    <th><i>Actions</i></th>
                  </tr>

                  <% service_line_item.technician_hours.each do |th| %>
                    <tr>
                      <td><%= th.technician.employee.nameText %></td>
                      <td><%= th.labor_hours_retail %></td>
                      <td>
                        <%= number_to_currency(th.labor_rate_retail) %>
                      </td>
                      <td><%= th.labor_hours_actual %></td>
                      <td>
                        <%= number_to_currency(th.labor_rate_actual) %>
                      </td>
                      <td bgcolor="#FFE0E0">
                        <%= link_to 'Edit', edit_technician_hour_path(th) %>
                        &nbsp;
                        <%= link_to 'Delete', th, method: :delete,
                            data: { confirm: 'Are you sure?' } %>
                      </td>
                    </tr>
                  <% end %>
                </table>

              </td>
            </tr>
          <% end %>  <%# service_line_item.technician_hours.length > 0 %>
        <% end %>  <%# for service_line_item loop %>
      </table>
    <% end %>
  </div>

  <div>
    <% if @service_visit.service_line_items.length > 0 %>
      <div>
        <span id="expander1">
          <%= image_tag("gen/expand16.png") %>
          <b><u>Add Service Line Item:</u></b>
        </span>
        <span id="collapser1" class="genhide">
          <%= image_tag("gen/collapse16.png") %>
          <b><u>Add Service Line Item:</u></b>
        </span>
      </div>
      <div id = "expdiv1" class="genhide">
    <% else %>
      <b>Add First Service Line Item:</b> (can add more later)<br>
      <div>
    <% end %>
    <table border="1" class="ft_dbtab">
      <tr bgcolor="#E0FFE0">
        <th>Type</th>
        <th>Description</th>
        <th>Desc text</th>
      </tr>
      <tr>
        <td>
          <select id="service_line_item_stype" name="service_line_item[stype]">
            <%= options_for_select(@stypeOptions, @selStype) %>
          </select>
        </td>
        <td>
          <select id="service_line_item_service_description_id" 
                  name="service_line_item[service_description_id]">
            <%= options_for_select(@serviceDescriptionCollect, 
                                   @sv_sli.service_description_id) %>
          </select>
        </td>
        <td>
          <input id="service_line_item_service_description_text" 
                 name="service_line_item[service_description_text]" 
                 size="40" type="text" 
                 value="<%= @sv_sli.service_description_text %>"
                 />
        </td>
      </tr>
      <tr>
        <td colspan="3">

          <table border="1" class="ft_dbtab">
            <tr bgcolor="#F0F0F0">
              <th colspan="5">
                Labor <font color="#606060">
                  (Leave Actual Rate blank to pull from db)</font>
              </th>
            </tr>
            <tr bgcolor="#E0FFE0">
              <th>Technician</th>
              <th>Labor Hours Retail</th>
              <th>Labor Rate Retail</th>
              <th>Labor Hours Actual</th>
              <th>Labor Rate Actual</th>
            </tr>
            <% for tdex in 1..@num_ths %>
              <% th = @sv_ths[tdex] %>
              <tr>
                <td>
                  <select id="technician_hour_technician_id_<%= tdex %>" 
                          name="technician_hour[technician_id_<%= tdex %>]">
                    <%= options_for_select(@technicianOptions,
                                           th.technician_id) %>
                  </select>
                </td>
                <td>
                  <input id="technician_hour_labor_hours_retail_<%= tdex %>" 
                         name="technician_hour[labor_hours_retail_<%= tdex %>]" 
                         size="8" type="text" 
                         value="<%= th.labor_hours_retail %>" />
                </td>
                <td>
                  $<input id="technician_hour_labor_rate_retail_<%= tdex %>" 
                         name="technician_hour[labor_rate_retail_<%= tdex %>]" 
                         size="8" type="text" 
                         <% if th.labor_rate_retail %>
                           value="<%= sprintf("%.2f", th.labor_rate_retail) %>" 
                         <% end %>
                         />
                </td>
                <td>
                  <input id="technician_hour_labor_hours_actual_<%= tdex %>" 
                         name="technician_hour[labor_hours_actual_<%= tdex %>]" 
                         size="8" type="text" 
                         value="<%= th.labor_hours_actual %>" />
                </td>
                <td>
                  $<input id="technician_hour_labor_rate_actual_<%= tdex %>" 
                         name="technician_hour[labor_rate_actual_<%= tdex %>]" 
                         size="8" type="text"
                         <% if th.labor_rate_actual %>
                           value="<%= sprintf("%.2f", th.labor_rate_actual) %>" 
                         <% end %>
                         />
                </td>
              </tr>
            <% end %>
          </table>

        </td>
      </tr>
      <tr>
        <td colspan="3">

          <table border="1" class="ft_dbtab">
            <tr bgcolor="#F0F0F0">
              <th colspan="4">
                Parts <font color="#606060">
                  (Leave Retail Cost blank to pull from db)</font>
              </th>
            </tr>
            <tr bgcolor="#E0FFE0">
              <th>Part</th>
              <th>Quantity</th>
              <th>Retail Price</th>
              <th>Actual Cost</th>
            </tr>
            <% for pdex in 1..@num_sparts %>
              <% sp = @sv_sparts[pdex] %>
              <tr>
                <td>
                  <select id="service_part_part_id_<%= pdex %>" 
                          name="service_part[part_id_<%= pdex %>]">
                    <%= options_for_select(@partCollect, sp.part_id) %>
                  </select>
                </td>
                <td>
                  <input id="service_part_part_quantity_<%= pdex %>" 
                         name="service_part[quantity_<%= pdex %>]" 
                         size="8" type="text" 
                         <% if sp.quantity %>
                           value="<%= sprintf("%.2f", sp.quantity) %>" 
                         <% end %>
                         />
                </td>
                <td>
                  $<input id="service_part_part_retail_price<%= pdex %>" 
                         name="service_part[part_retail_price_<%= pdex %>]" 
                         size="8" type="text" 
                         <% if sp.part_retail_price %>
                           value="<%= sprintf("%.2f", sp.part_retail_price) %>" 
                         <% end %>
                         />
                </td>
                <td>
                  $<input id="service_part_part_actual_price<%= pdex %>" 
                         name="service_part[part_actual_price_<%= pdex %>]" 
                         size="8" type="text" 
                         <% if sp.part_actual_price %>
                           value="<%= sprintf("%.2f", sp.part_actual_price) %>" 
                         <% end %>
                         />
                </td>
              </tr>
            <% end %>
          </table>

        </td>
      </tr>
    </table>
    <P>
      <font color="#606060"><i>
        (If you need to add an item to one of the dropdowns above,
         you can use one of these links, then return to this
         tab or window and refresh or hit F5.): <br/>
         <a target="_blank" href="/technicians/gfnew">Add a technician</a> <br/>
         <a target="_blank" href="/parts/gfnewplus">Add a part</a> <br/>
         <a target="_blank" href="/service_descriptions/gfnew">
         Add a service description</a><br/>
      </i></font>
    </P>
    </div>

  </div>

  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, :cols => 100, :rows => 8 %>
  </div>
  <div class="actions">
    <% if form_action == 'gfnew2' %>
      <%= f.submit 'Create Service Visit', name: 'sv_create' %>
    <% else %>
      <%= f.submit 'Update Service Visit', name: 'sv_update' %>
    <% end %>
    &nbsp; &nbsp; 
    <%= f.submit 'Save and Add more', name: 'sv_save' %>
  </div>
<% end %>
