<h2>Listing service_visits</h2>

<P>
<B>Each of these will have a collection of service line items</B>
</P>

<table border="1" class="ft_dbtab">
  <tr bgcolor="#F0FFF0">
    <th>Mileage</th>
    <th>Sdate</th>
    <th>Description</th>
    <th>Store</th>
    <th>Vehicle</th>
    <th>Invoice</th>
    <th>Salesperson</th>
    <th>Comments</th>
    <th colspan="3"><i>Actions</i></th>
  </tr>

<% @service_visits.each do |service_visit| %>
  <tr>
    <td><%= service_visit.mileage %></td>
    <td><%= service_visit.sdate.strftime("%b %d, %Y") %></td>
    <td><%= service_visit.description %></td>
    <td><%= service_visit.store.number %></td>
    <td><%= service_visit.vehicle.ymmpText %></td>
    <td>
      <% if service_visit.invoice %>
        <%= service_visit.invoice.invoice_number %>
      <% else %>
        <font color="#800000"><i>Service visit should have Invoice</i></font>
      <% end %>
    </td>
    <td><%= service_visit.salesperson.employee.nameText %></td>
    <td><%= service_visit.comments %></td>
    <td><%= link_to 'Show', service_visit %></td>
    <td><%= link_to 'Edit', edit_service_visit_path(service_visit) %></td>
    <td><%= link_to 'Destroy', service_visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service visit', new_service_visit_path %>
&nbsp; | &nbsp; <a href="/top/db">All DB tables</a>
