<%= form_for(@engine_displacement) do |f| %>
  <% if @engine_displacement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@engine_displacement.errors.count, "error") %> prohibited this engine_displacement from being saved:</h2>

      <ul>
      <% @engine_displacement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if defined?(isGroundFloor) and isGroundFloor %>
     <input name="is_ground_floor" type="hidden" value="Y" />
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
