<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cid %><br />
    <%= f.text_field :cid %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :street_addr1 %><br />
    <%= f.text_field :street_addr1 %>
  </div>
  <div class="field">
    <%= f.label :street_addr2 %><br />
    <%= f.text_field :street_addr2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state_id %><br />
    <%= f.number_field :state_id %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :home_phone %><br />
    <%= f.text_field :home_phone %>
  </div>
  <div class="field">
    <%= f.label :can_text_home_phone %><br />
    <%= f.check_box :can_text_home_phone %>
  </div>
  <div class="field">
    <%= f.label :work_phone %><br />
    <%= f.text_field :work_phone %>
  </div>
  <div class="field">
    <%= f.label :can_text_work_phone %><br />
    <%= f.check_box :can_text_work_phone %>
  </div>
  <div class="field">
    <%= f.label :mobile_phone %><br />
    <%= f.text_field :mobile_phone %>
  </div>
  <div class="field">
    <%= f.label :can_text_mobile_phone %><br />
    <%= f.check_box :can_text_mobile_phone %>
  </div>
  <div class="field">
    <%= f.label :other_phone %><br />
    <%= f.text_field :other_phone %>
  </div>
  <div class="field">
    <%= f.label :can_text_other_phone %><br />
    <%= f.check_box :can_text_other_phone %>
  </div>
  <div class="field">
    <%= f.label :joined_date %><br />
    <%= f.datetime_select :joined_date %>
  </div>
  <div class="field">
    <%= f.label :is_aaa_member %><br />
    <%= f.check_box :is_aaa_member %>
  </div>
  <div class="field">
    <%= f.label :is_web_registered %><br />
    <%= f.check_box :is_web_registered %>
  </div>
  <div class="field">
    <%= f.label :spouse_name %><br />
    <%= f.text_field :spouse_name %>
  </div>
  <div class="field">
    <%= f.label :spouse_id %><br />
    <%= f.number_field :spouse_id %>
  </div>
  <div class="field">
    <%= f.label :signup_store_id %><br />
    <%= f.number_field :signup_store_id %>
  </div>
  <div class="field">
    <%= f.label :referredBy_id %><br />
    <%= f.number_field :referredBy_id %>
  </div>
  <div class="field">
    <%= f.label :referredBy_customer_id %><br />
    <%= f.number_field :referredBy_customer_id %>
  </div>
  <div class="field">
    <%= f.label :referredBy_other_text %><br />
    <%= f.text_field :referredBy_other_text %>
  </div>
  <div class="field">
    <%= f.label :ssn %><br />
    <%= f.text_field :ssn %>
  </div>
  <div class="field">
    <%= f.label :driver_lic_num %><br />
    <%= f.text_field :driver_lic_num %>
  </div>
  <div class="field">
    <%= f.label :driver_lic_state_id %><br />
    <%= f.number_field :driver_lic_state_id %>
  </div>
  <div class="field">
    <%= f.label :driver_lic_image_id %><br />
    <%= f.number_field :driver_lic_image_id %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.datetime_select :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.number_field :gender %>
  </div>
  <div class="field">
    <%= f.label :video_testimony_url %><br />
    <%= f.text_field :video_testimony_url %>
  </div>
  <div class="field">
    <%= f.label :written_testimony_id %><br />
    <%= f.number_field :written_testimony_id %>
  </div>
  <div class="field">
    <%= f.label :referral_credits_earned %><br />
    <%= f.number_field :referral_credits_earned %>
  </div>
  <div class="field">
    <%= f.label :referral_credits_used %><br />
    <%= f.number_field :referral_credits_used %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
