<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cid, 'Customer ID' %>:
    <%= f.text_field :cid %>
  </div>
  <div class="field">
    <%= f.label :user_id, 'Registered User (optional)' %>:
    <%= select("customer", "user_id", @userCollect,
                                            {prompt: 'Select User'}) %>

  </div>
  <div class="field">
    <%= f.label :first_name, 'First name' %>:
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name, 'Middle name' %>:
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, 'Last name' %>:
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :street_addr1, 'Street Address 1' %>:
    <%= f.text_field :street_addr1 %>
  </div>
  <div class="field">
    <%= f.label :street_addr2, 'Street Address 2' %>:
    <%= f.text_field :street_addr2 %>
  </div>
  <div class="field">
    <%= f.label :city %>:
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state_id, 'State' %>:
    <%= select("customer", "state_id", @stateCollect,
                                                  {prompt: 'Select State'}) %>
  </div>
  <div class="field">
    <%= f.label :zip %>:
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :home_phone %>:
    <%= f.text_field :home_phone %>
    &nbsp; &nbsp; 
    <%= f.label :can_text_home_phone %>:
    <%= f.check_box :can_text_home_phone %>
  </div>
  <div class="field">
    <%= f.label :work_phone %>:
    <%= f.text_field :work_phone %>
    &nbsp; &nbsp; 
    <%= f.label :can_text_work_phone %>:
    <%= f.check_box :can_text_work_phone %>
  </div>
  <div class="field">
    <%= f.label :mobile_phone %>:
    <%= f.text_field :mobile_phone %>
    &nbsp; &nbsp; 
    <%= f.label :can_text_mobile_phone %>:
    <%= f.check_box :can_text_mobile_phone %>
  </div>
  <div class="field">
    <%= f.label :other_phone %>:
    <%= f.text_field :other_phone %>
    &nbsp; &nbsp; 
    <%= f.label :can_text_other_phone %>:
    <%= f.check_box :can_text_other_phone %>
  </div>
  <div class="field">
    <%= f.label :joined_date %>:
    <%= f.date_select :joined_date %>
  </div>
  <div class="field">
    <%= f.label :is_aaa_member %>:
    <%= f.check_box :is_aaa_member %>
    &nbsp; &nbsp; 
    <%= f.label :is_web_registered %>:
    <%= f.check_box :is_web_registered %>
  </div>
  <div class="field">
    <%= f.label :spouse_name %>:
    <%= f.text_field :spouse_name %>
  </div>
  <div class="field">
    <%= f.label :spouse_id, 'Spouse if Customer' %>:
    <%= select("customer", "spouse_id", @customerCollect,
                                                  {prompt: 'Select Spouse'}) %>
  </div>
  <div class="field">
    <%= f.label :signup_store_id, 'Signup Store' %>:
    <%= select("customer", "signup_store_id", @storeCollect,
                                                  {prompt: 'Select Store'}) %>
  </div>
  <div class="field">
    <%= f.label :referredBy_id, 'Referred by (method)' %>:
    <%= select("customer", "referredBy_id", @referredByCollect,
                                                  {prompt: 'Select'}) %>
  </div>
  <div class="field">
    <%= f.label :referredBy_customer_id, 'Referred by another customer' %>:
    <%= select("customer", "referredBy_customer_id", @customerCollect,
                                      {prompt: 'Select Referring Customer'}) %>
  </div>
  <div class="field">
    <%= f.label :referredBy_other_text %>:
    <%= f.text_field :referredBy_other_text %>
  </div>
  <div class="field">
    <%= f.label :ssn %>:
    <%= f.text_field :ssn %>
  </div>
  <div class="field">
    <%= f.label :driver_lic_num, 'Driver License Number' %>:
    <%= f.text_field :driver_lic_num %>
  </div>
  <div class="field">
    <%= f.label :driver_lic_state_id, 'Driver License State' %>:
    <%= select("customer", "driver_lic_state_id", @stateCollect,
                                                  {prompt: 'Select State'}) %>
  </div>
  <div class="field">
    <%= f.label :driver_lic_image_id %>:
    <%= f.number_field :driver_lic_image_id %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %>:
    <%= f.date_select :date_of_birth, :start_year => 1910, :end_year => 2005 %>
  </div>
  <div class="field">
    <%= f.label :gender %>:
    <select id="customer_gender" name="customer[gender]">
      <%= options_for_select(@genderOptions, @selGender) %>
    </select>
  </div>
  <div class="field">
    <%= f.label :video_testimony_url %>:
    <%= f.text_field :video_testimony_url %>
  </div>
  <div class="field">
    <%= f.label :written_testimony_id, 'Written Testimony Number' %>:
    <%= f.number_field :written_testimony_id %>
  </div>
  <div class="field">
    <%= f.label :referral_credits_earned %>:
    <%= f.number_field :referral_credits_earned %>
  </div>
  <div class="field">
    <%= f.label :referral_credits_used %>:
    <%= f.number_field :referral_credits_used %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
