<h2>Listing customers</h2>

<table border="1" class="ft_dbtab">
  <tr bgcolor="#F0FFF0">
    <th>Cid</th>
    <th>Name</th>
    <th>Home phone</th>
    <th>Work phone</th>
    <th>Mobile phone</th>
    <th>Other phone</th>
    <th>Joined date</th>
    <th>AAA</th>
    <th>Web</th>
    <th>Signup store</th>
    <th>Date of birth</th>
    <th>Vehicles</th>
    <th><i>Actions</i></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.cid %></td>
    <td><%= customerName2(customer) %></td>
    <td><%= customer.home_phone %> <%= customer.homeTextFlag %></td>
    <td><%= customer.work_phone %> <%= customer.workTextFlag %></td>
    <td><%= customer.mobile_phone %> <%= customer.mobileTextFlag %></td>
    <td><%= customer.other_phone %> <%= customer.otherTextFlag %></td>
    <td><%= customer.joined_date.strftime("%b %d, %Y") %></td>
    <td><%= boolText(customer.is_aaa_member) %></td>
    <td><%= boolText(customer.is_web_registered) %></td>
    <td><%= customer.signup_store.number %></td>
    <td>
      <% if customer.date_of_birth %>
        <%= customer.date_of_birth.strftime("%b %d, %Y") %>
      <% else %>
        <i>unknown</i>
      <% end %>
    </td>
    <td>
      <% for veh in customer.vehicles %>
        <a href="/vehicles/<%= veh.id %>/gfedit"><%= veh.ymmpText %></a><br/>
      <% end %>
    </td>
    <td><%= link_to 'Edit', "/customers/#{customer.id}/gfedit" %></td>
  </tr>
<% end %>
</table>

<br />

<form action="/customers/gfnew" style="display: inline;">
  <input type="submit" value="Add New Customer"> 
</form>
&nbsp; &nbsp; 
<%= link_to 'Back to Ground Floor', '/top/gf' %>
