<h2>Listing customers</h2>

<table border="1" class="ft_dbtab">
  <tr bgcolor="#F0FFF0">
    <th>Cid</th>
    <th>Name</th>
    <th>Home phone</th>
    <th>Work phone</th>
    <th>Mobile phone</th>
    <th>Other phone</th>
    <th>Joined date</th>
    <th>AAA</th>
    <th>Web</th>
    <th>Signup store</th>
    <th>Date of birth</th>
    <th>Referral credits earned</th>
    <th>Referral credits used</th>
    <th colspan="3"><i>Actions</i></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.cid %></td>
    <td><%= customerName2(customer) %></td>
    <td><%= customer.home_phone %> <%= customer.homeTextFlag %></td>
    <td><%= customer.work_phone %> <%= customer.workTextFlag %></td>
    <td><%= customer.mobile_phone %> <%= customer.mobileTextFlag %></td>
    <td><%= customer.other_phone %> <%= customer.otherTextFlag %></td>
    <td><%= customer.joined_date.strftime("%b %d, %Y") %></td>
    <td><%= boolText(customer.is_aaa_member) %></td>
    <td><%= boolText(customer.is_web_registered) %></td>
    <td><%= customer.signup_store.number %></td>
    <td>
      <% if customer.date_of_birth %>
        <%= customer.date_of_birth.strftime("%b %d, %Y") %>
      <% else %>
        <i>unknown</i>
      <% end %>
    </td>
    <td><%= customer.referral_credits_earned %></td>
    <td><%= customer.referral_credits_used %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
&nbsp; | &nbsp; <a href="/top/db">All DB tables</a>
