<p id="notice"><%= notice %></p>

<p>
  <b>Cid:</b>
  <%= @customer.cid %>
</p>

<p>
  <b>User:</b>
  <%= @customer.user_id %>
</p>

<p>
  <b>Street addr1:</b>
  <%= @customer.street_addr1 %>
</p>

<p>
  <b>Street addr2:</b>
  <%= @customer.street_addr2 %>
</p>

<p>
  <b>City:</b>
  <%= @customer.city %>
</p>

<p>
  <b>State:</b>
  <%= @customer.state_id %>
</p>

<p>
  <b>Zip:</b>
  <%= @customer.zip %>
</p>

<p>
  <b>Home phone:</b>
  <%= @customer.home_phone %>
</p>

<p>
  <b>Can text home phone:</b>
  <%= @customer.can_text_home_phone %>
</p>

<p>
  <b>Work phone:</b>
  <%= @customer.work_phone %>
</p>

<p>
  <b>Can text work phone:</b>
  <%= @customer.can_text_work_phone %>
</p>

<p>
  <b>Mobile phone:</b>
  <%= @customer.mobile_phone %>
</p>

<p>
  <b>Can text mobile phone:</b>
  <%= @customer.can_text_mobile_phone %>
</p>

<p>
  <b>Other phone:</b>
  <%= @customer.other_phone %>
</p>

<p>
  <b>Can text other phone:</b>
  <%= @customer.can_text_other_phone %>
</p>

<p>
  <b>Joined date:</b>
  <%= @customer.joined_date %>
</p>

<p>
  <b>Is aaa member:</b>
  <%= @customer.is_aaa_member %>
</p>

<p>
  <b>Is web registered:</b>
  <%= @customer.is_web_registered %>
</p>

<p>
  <b>Spouse name:</b>
  <%= @customer.spouse_name %>
</p>

<p>
  <b>Spouse:</b>
  <%= @customer.spouse_id %>
</p>

<p>
  <b>Signup store:</b>
  <%= @customer.signup_store_id %>
</p>

<p>
  <b>Referredby:</b>
  <%= @customer.referredBy_id %>
</p>

<p>
  <b>Referredby customer:</b>
  <%= @customer.referredBy_customer_id %>
</p>

<p>
  <b>Referredby other text:</b>
  <%= @customer.referredBy_other_text %>
</p>

<p>
  <b>Ssn:</b>
  <%= @customer.ssn %>
</p>

<p>
  <b>Driver lic num:</b>
  <%= @customer.driver_lic_num %>
</p>

<p>
  <b>Driver lic state:</b>
  <%= @customer.driver_lic_state_id %>
</p>

<p>
  <b>Driver lic image:</b>
  <%= @customer.driver_lic_image_id %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @customer.date_of_birth %>
</p>

<p>
  <b>Gender:</b>
  <%= @customer.gender %>
</p>

<p>
  <b>Video testimony url:</b>
  <%= @customer.video_testimony_url %>
</p>

<p>
  <b>Written testimony:</b>
  <%= @customer.written_testimony_id %>
</p>

<p>
  <b>Referral credits earned:</b>
  <%= @customer.referral_credits_earned %>
</p>

<p>
  <b>Referral credits used:</b>
  <%= @customer.referral_credits_used %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
