<p id="notice"><%= notice %></p>

<p>
  <b>Customer ID:</b>
  <%= @customer.cid %>
</p>

<p>
  <b>User number, Name:</b>
  <%= @customer.user_id %>
  <%= customerName2(@customer) %>
</p>

<p>
  <b>Street addr1:</b>
  <%= @customer.street_addr1 %> <br>
  <%= @customer.street_addr2 %>
</p>

<p>
  <b>City State Zip:</b>
  <%= @customer.city %>,
  <%= @customer.state.name %>
  <%= @customer.zip %>
</p>

<p>
  <b>Home phone:</b>
  <%= @customer.home_phone %>
  <% if @customer.can_text_home_phone %>
    (Textable)
  <% end %>
  <br>
  <b>Work phone:</b>
  <%= @customer.work_phone %>
  <% if @customer.can_text_work_phone %>
    (Textable)
  <% end %>
  <br>
  <b>Mobile phone:</b>
  <%= @customer.mobile_phone %>
  <% if @customer.can_text_mobile_phone %>
    (Textable)
  <% end %>
  <br>
  <b>Other phone:</b>
  <%= @customer.other_phone %>
  <% if @customer.can_text_other_phone %>
    (Textable)
  <% end %>
</p>

<p>
  <b>Joined date:</b>
  <%= @customer.joined_date.strftime("%b %d, %Y") %>
</p>

<p>
  <b>Is AAA member:</b>
  <%= boolText(@customer.is_aaa_member) %>
  <br>
  <b>Is web registered:</b>
  <%= boolText(@customer.is_web_registered) %>
</p>

<p>
  <b>Spouse name:</b>
  <%= @customer.spouse_name %>
</p>

<% if @customer.spouse_id %>
  <p>
    <b>Spouse Customer:</b>
    <%= customerName2(@customer.spouse) %>
  </p>
<% end %>

<p>
  <b>Signup store:</b>
  <%= @customer.signup_store.number %> /
  <%= @customer.signup_store.name %>
</p>

<p>
  <b>Referred by:</b>
  <% if @customer.referredBy_id %>
    <%= @customer.referredBy.description %>
  <% else %>
    <i>None</i>
  <% end %>
  <% if @customer.referredBy_other_text %>
    <br>
    <%= @customer.referredBy_other_text %>
  <% end %>
</p>

<% if @customer.referredBy_customer_id %>
  <p>
    <b>Referred by customer:</b>
    <%= customerName2(@customer.referredBy_customer) %>
  </p>
<% end %>

<p>
  <b>Ssn:</b>
  <%= @customer.ssn %>
</p>

<p>
  <b>Driver lic num:</b>
  <%= @customer.driver_lic_num %>
  <br>
  <b>Driver lic state:</b>
  <%= @customer.driver_lic_state.name %>
  <br>
  <b>Driver lic image:</b>
  <%= @customer.driver_lic_image_id %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @customer.date_of_birth.strftime("%b %d, %Y") %>
</p>

<p>
  <b>Gender:</b>
  <%= @customer.genderText %>
</p>

<p>
  <b>Video testimony url:</b>
  <%= @customer.video_testimony_url %>
</p>

<p>
  <b>Written testimony number:</b>
  <%= @customer.written_testimony_id %>
</p>

<p>
  <b>Referral credits earned:</b>
  <%= @customer.referral_credits_earned %>
</p>

<p>
  <b>Referral credits used:</b>
  <%= @customer.referral_credits_used %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
