<%= form_for(@tire_td_reading) do |f| %>
  <% if @tire_td_reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tire_td_reading.errors.count, "error") %> prohibited this tire_td_reading from being saved:</h2>

      <ul>
      <% @tire_td_reading.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vehicle_id %><font color="#800000">*</font><br />
    <%= select("tire_td_reading", "vehicle_id", @vehicleCollect,
                                                {prompt: 'Select Vehicle'}) %>
  </div>
  <div class="field">
    <%= f.label :tdate, 'Date of measurement' %>
    <font color="#800000">*</font><br />
    <%= f.date_select :tdate %>
  </div>
  <div class="field">
    <%= f.label :depth32nds %><font color="#800000">*</font><br />
    <%= f.number_field :depth32nds %>/32
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
