<h1>Listing non_ma_maintenances</h1>

<table border="1" class="ft_dbtab">
  <tr bgcolor="#F0FFF0">
    <th>Vehicle</th>
    <th>Mdate</th>
    <th>Where</th>
    <th>Document image</th>
    <th colspan="3"><i>Actions</i></th>
  </tr>

<% @non_ma_maintenances.each do |non_ma_maintenance| %>
  <tr>
    <td><%= non_ma_maintenance.vehicle.ymmpText %></td>
    <td><%= non_ma_maintenance.mdate.strftime("%b %d, %Y") %></td>
    <td><%= non_ma_maintenance.where %></td>
    <td><%= non_ma_maintenance.document_image_id %></td>
    <td><%= link_to 'Show', non_ma_maintenance %></td>
    <td><%= link_to 'Edit', edit_non_ma_maintenance_path(non_ma_maintenance) %></td>
    <td><%= link_to 'Destroy', non_ma_maintenance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Non ma maintenance', new_non_ma_maintenance_path %>
&nbsp; | &nbsp; <a href="/top/db">All DB tables</a>
