<%= form_for(@invoice_line_item) do |f| %>
  <% if @invoice_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice_line_item.errors.count, "error") %> prohibited this invoice_line_item from being saved:</h2>

      <ul>
      <% @invoice_line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><font color="#800000">*</font><br />
    $<%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :invoice_id %><font color="#800000">*</font><br />
    <%= select("invoice_line_item", "invoice_id", @invoiceCollect,
                                                  {prompt: 'Select Invoice'}) %>
  </div>
  <div class="field">
    <%= f.label :line_item_purpose_id %><font color="#800000">*</font><br />
    <%= select("invoice_line_item", "line_item_purpose_id", @purposeCollect,
                                                  {prompt: 'Select Purpose'}) %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :service_visit_id %><br />
    <%= select("invoice_line_item", "service_visit_id", @serviceVisitCollect,
                                          {prompt: 'Select Service Visit'}) %>
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br />
    <%= select("invoice_line_item", "vehicle_id", @vehicleCollect,
                                          {prompt: 'Select Vehicle'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
