<%= form_for(@invoice_line_item) do |f| %>
  <% if @invoice_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice_line_item.errors.count, "error") %> prohibited this invoice_line_item from being saved:</h2>

      <ul>
      <% @invoice_line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :invoice_id %><br />
    <%= f.number_field :invoice_id %>
  </div>
  <div class="field">
    <%= f.label :line_item_purpose_id %><br />
    <%= f.number_field :line_item_purpose_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :service_visit_id %><br />
    <%= f.number_field :service_visit_id %>
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br />
    <%= f.number_field :vehicle_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
