<h2>Listing scheduled_services</h2>

<P>
These all point to a given ServiceSchedule, which will be pointed to
by a particular vehicle.  (Using ServiceSchedule instead of direct to
vehicle, because ServiceSchedule can hold an image.)
<P>
<table border="1" class="ft_dbtab">
  <tr bgcolor="#F0FFF0">
    <th>Service schedule</th>
    <th>Sdate</th>
    <th>Mileage</th>
    <th colspan="3"><i>Actions</i></th>
  </tr>

<% @scheduled_services.each do |scheduled_service| %>
  <tr>
    <td><%= scheduled_service.service_schedule_id %></td>
    <td><%= scheduled_service.sdate.strftime("%b %d, %Y") %></td>
    <td><%= scheduled_service.mileage %></td>
    <td><%= link_to 'Show', scheduled_service %></td>
    <td><%= link_to 'Edit', edit_scheduled_service_path(scheduled_service) %></td>
    <td><%= link_to 'Destroy', scheduled_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scheduled service', new_scheduled_service_path %>
&nbsp; | &nbsp; <a href="/top/db">All DB tables</a>
