<h2>Listing code_histories</h2>

<table border="1" class="ft_dbtab">
  <tr bgcolor="#F0FFF0">
    <th>Vehicle</th>
    <th>Cdate</th>
    <th>Code</th>
    <th colspan="3"><i>Actions</i></th>
  </tr>

<% @code_histories.each do |code_history| %>
  <tr>
    <td>
      <%= code_history.vehicle_id %>:
      <%= code_history.vehicle.ymmText %>
    </td>
    <td><%= code_history.cdate.strftime("%b %d, %Y") %></td>
    <td><%= code_history.code %></td>
    <td><%= link_to 'Show', code_history %></td>
    <td><%= link_to 'Edit', edit_code_history_path(code_history) %></td>
    <td><%= link_to 'Destroy', code_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Code history', new_code_history_path %>
&nbsp; | &nbsp; <a href="/top/db">All DB tables</a>
