<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_time, 'Date and time of payment' %>
    <font color="#800000">*</font><br />
    <%= f.datetime_select :date_time %>
  </div>
  <blockquote>
  One and only one of the following must be selected:
  <font color="#800000">*</font><br />
  <div class="field">
    <%= f.label :invoice_id, 'Invoice (if paying invoice)' %><br />
    <%= select("payment", "invoice_id", @invoiceCollect,
                                                  {prompt: 'Select Invoice'}) %>
  </div>
  <div class="field">
    <%= f.label :contract_id, 'Contract (if paying monthly fee)' %><br />
    <%= select("payment", "contract_id", @contractCollect,
                                              {prompt: 'Select Contract'}) %>
  </div>
  <div class="field">
    <%= f.label :finance_agreement_id,
                      'Finance Agreement number (if finance payment)' %><br />
    <%= f.number_field :finance_agreement_id %>
  </div>
  </blockquote>
  <div class="field">
    <%= f.label :customer_id, 'Customer making payment' %>
    <font color="#800000">*</font><br />
    <%= select("payment", "customer_id", @customerCollect,
                                          {prompt: 'Select Customer'}) %>
  </div>
  <div class="field">
    <%= f.label :amount %><font color="#800000">*</font><br />
    $<%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :payment_method_id %><font color="#800000">*</font><br />
    <%= select("payment", "payment_method_id", @paymentMethodCollect,
                              {prompt: "Select Customer's Payment Method"}) %>
  </div>
  <div class="field">
    <%= f.label :status %><font color="#800000">*</font><br />
    <select id="payment_status" name="payment[status]">
      <%= options_for_select(@statusOptions, @selStatus) %>
    </select>
  </div>
  <div class="field">
    <%= f.label :merchant_services_status %><br />
    <%= f.text_field :merchant_services_status %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
