<% if @vehicle.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@vehicle.errors.count, "error") %>
        prohibited this vehicle from being saved:</h2>
    <ul>
    <% @vehicle.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @vehicle, :url => {:action => "create"} do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input name="is_ground_floor" type="hidden" value="Y" />
  <input id="vehicle_customer_id" name="vehicle[customer_id]" type="hidden" 
         value="<%= @vehicle.customer_id %>" />
  <input id="vehicle_contract_id" name="vehicle[contract_id]" type="hidden" 
         value="<%= @vehicle.contract_id %>" />
  <input id="vehicle_make_id" name="vehicle[make_id]" type="hidden" 
         value="<%= @vehicle.make_id %>" />
  <div class="field">
    <%= f.label :vin, 'VIN' %>:
    <%= f.text_field :vin, :size => 30 %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :license_plate %>:
    <%= f.text_field :license_plate, :size => 8 %>
    <%= select("vehicle", "license_plate_state_id", @stateCollect,
                                                   {prompt: 'Select State'}) %>
    <font color="#800000">*</font>
  </div>
  <div class="field">
    <%= f.label :model_id %><font color="#800000">*</font>:
    <%= select("vehicle", "model_id", @modelCollect,{prompt: 'Select Model'}) %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :submodel_id %>:
    <%= select("vehicle", "submodel_id", @submodelCollect,
                                              {prompt: 'Select Submodel'}) %>
    <br/>
    <font color="#606060"><i>
      (If you need to 
       <a target="_blank" href="/models/gfnew">add a model</a> or 
       <a target="_blank" href="/submodels/gfnew">add a submodel</a>
       to the dropdowns for this vehicle, click
       one of these links to open a new window, then come back to this
       window and refresh or hit F5.)
    </i></font>
  </div>
  <div class="field">
    <%= f.label :date_of_manufacture %><font color="#800000">*</font>
    <%= f.date_select :date_of_manufacture, :start_year => 1990 %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :country_of_manufacture_id %>
    <%= select("vehicle", "country_of_manufacture_id", @countryCollect,
					      {prompt: 'Select Country'}) %>
  </div>
  <div class="field">
    <%= f.label :msrp, 'MSRP' %>: $<%= f.text_field :msrp, :size => 8  %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :kbb_on_qual, 'KBB value at Qual' %>:
    $<%= f.text_field :kbb_on_qual, :size => 8 %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :current_kbb, 'Current KBB value' %>:
    $<%= f.text_field :current_kbb, :size => 8 %>
  </div>
  <div class="field">
    <%= f.label :engine_cyl %>:
    <%= f.number_field :engine_cyl, :size => 4 %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :engine_displacement_id %><font color="#800000">*</font>
    <%= select("vehicle", "engine_displacement_id", @engineDisplacementCollect,
					  {prompt: 'Select Displacement'}) %>
    <i><a target="_blank" href="/engine_displacements/gfnew">
      Create new displacement</a></i>
  </div>
  <div class="field">
    <%= f.label :wheel_drive_id %><font color="#800000">*</font>:
    <%= select("vehicle", "wheel_drive_id", @wheelDriveCollect,
					  {prompt: 'Select Drive'}) %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :color_id %><font color="#800000">*</font>
    <%= select("vehicle", "color_id", @colorCollect,
					      {prompt: 'Select Color'}) %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :doors %>:
    <%= f.number_field :doors, :size => 4 %>
  </div>
  <div class="field">
    <%= f.label :mileage %>:
    <%= f.number_field :mileage, :size => 8 %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :convertible %>:
    <%= f.check_box :convertible %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :bg_compliant %>:
    <%= f.check_box :bg_compliant %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :mpg30after_initial, 'MPG 30 days after 1st visit' %>:
    <%= f.text_field :mpg30after_initial, :size => 4 %> MPG
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, :cols => 100, :rows => 8 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
