<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if not defined?(isGroundFloor) %>
    <% isGroundFloor = false %>
  <% end %>
  <div class="field">
    <%= f.label :vin %>
    <%= f.text_field :vin %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :license_plate %>
    <%= f.text_field :license_plate, :size => 8 %>
    <%= f.label :license_plate_state_id %><font color="#800000">*</font>
    <%= select("vehicle", "license_plate_state_id", @stateCollect,
                                                   {prompt: 'Select State'}) %>
  </div>
  <div class="field">
    <%= f.label :make_id %><font color="#800000">*</font>
    <%= select("vehicle", "make_id", @makeCollect, {prompt: 'Select Make'}) %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :model_id %><font color="#800000">*</font>
    <%= select("vehicle", "model_id", @modelCollect, {prompt: 'Select Model'}) %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :submodel_id %>
    <%= select("vehicle", "submodel_id", @submodelCollect,
                                              {prompt: 'Select Submodel'}) %>
  </div>
  <% if isGroundFloor %>
     <input name="is_ground_floor" type="hidden" value="Y" />
  <% else %>
    <div class="field">
      <%= f.label :vin_decoded %><br />
      <%= f.text_field :vin_decoded %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :customer_id %><font color="#800000">*</font>
    <%= select("vehicle", "customer_id", @customerCollect,
                                          {prompt: 'Select Customer'}) %>
  </div>
  <div class="field">
    <%= f.label :date_of_manufacture %><font color="#800000">*</font>
    <%= f.date_select :date_of_manufacture, :start_year => 1990 %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :country_of_manufacture_id %>
    <%= select("vehicle", "country_of_manufacture_id", @countryCollect,
					      {prompt: 'Select Country'}) %>
  </div>
  <div class="field">
    <%= f.label :engine_cyl %>
    <%= f.number_field :engine_cyl, :size => 4 %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :engine_displacement_id %><font color="#800000">*</font>
    <%= select("vehicle", "engine_displacement_id", @engineDisplacementCollect,
					  {prompt: 'Select Displacement'}) %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :wheel_drive_id %><font color="#800000">*</font>
    <%= select("vehicle", "wheel_drive_id", @wheelDriveCollect,
					  {prompt: 'Select Drive'}) %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :color_id %><font color="#800000">*</font>
    <%= select("vehicle", "color_id", @colorCollect,
					      {prompt: 'Select Color'}) %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :doors %>
    <%= f.number_field :doors, :size => 4  %>
  </div>
  <div class="field">
    <%= f.label :msrp %>
    $<%= f.text_field :msrp, :size => 8 %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :kbb_on_qual %>
    $<%= f.text_field :kbb_on_qual, :size => 8 %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :current_kbb %>
    $<%= f.text_field :current_kbb, :size => 8 %>
  </div>
  <% if not isGroundFloor %>
    <div class="field">
      <%= f.label :consumer_reports_url %><br />
      <%= f.text_field :consumer_reports_url %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :mileage %>:
    <%= f.number_field :mileage, :size => 8 %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :convertible %>:
    <%= f.check_box :convertible %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :bg_compliant %>:
    <%= f.check_box :bg_compliant %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <%= f.label :mpg30after_initial, 'MPG 30 days after 1st visit:' %>
    <%= f.text_field :mpg30after_initial, :size => 8 %> MPG
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, :cols => 100, :rows => 8 %>
  </div>
  <% if not isGroundFloor %>
    <div class="field">
      <%= f.label :service_schedule_id %><br />
      <%= f.number_field :service_schedule_id %>
      &nbsp; (ID from service schedule table)
    </div>
    <div class="field">
      <%= f.label :insurance_company_id %><br />
      <%= select("vehicle", "insurance_company_id", @insuranceCompanyCollect,
                                            {prompt: 'Select Insurance'}) %>
    </div>
    <div class="field">
      <%= f.label :insurance_policy_number %><br />
      <%= f.text_field :insurance_policy_number %>
    </div>
    <div class="field">
      <%= f.label :insurance_image_id %><br />
      <%= f.number_field :insurance_image_id %>
    </div>
    <div class="field">
      <%= f.label :carfax_url %><br />
      <%= f.text_field :carfax_url %>
    </div>
    <div class="field">
      <%= f.label :carfax_copy_at_qual %><br />
      <%= f.text_field :carfax_copy_at_qual %>
    </div>
    <div class="field">
      <%= f.label :door_plate_image_id %><br />
      <%= f.number_field :door_plate_image_id %>
    </div>
    <div class="field">
      <%= f.label :photos_image_id %><br />
      <%= f.number_field :photos_image_id %>
    </div>
    <div class="field">
      <%= f.label :qualification_id %><br />
      <%= f.number_field :qualification_id %> (ID from qualification table)
    </div>
  <% end %>
  <div class="field">
    <%= f.label :contract_id, 'Contract number' %> 
    (contract is required to track membership income):
    <%= select("vehicle", "contract_id", @contractCollect,
					  {prompt: 'Select Contract'}) %>
  </div>
  <div class="actions">
    <%= f.submit 'Update Vehicle', name: 'update' %> &nbsp; &nbsp;
    <%= f.submit 'Enter Service Visit for this Vehicle', name: 'new_sv' %>
  </div>
<% end %>
