<h2>Listing vehicles</h2>

<table border="1" class="ft_dbtab">
  <tr bgcolor="#F0FFF0">
    <th>Vin</th>
    <th>Vin decoded</th>
    <th>License plate</th>
    <th>Plate state</th>
    <th>Customer</th>
    <th>Make</th>
    <th>Model</th>
    <th>Submodel</th>
    <th>Manuf. Date</th>
    <th>Made in</th>
    <th>MSRP</th>
    <th>KBB on qual</th>
    <th>Current KBB</th>
    <th>Consumer reports</th>
    <th>Engine cyl</th>
    <th>Engine displacement</th>
    <th>Wheel drive</th>
    <th>Color</th>
    <th>Doors</th>
    <th>Convertible</th>
    <th>Service schedule ID</th>
    <th>Mileage</th>
    <th>Mpg30after initial</th>
    <th>Qualification</th>
    <th>Bg compliant</th>
    <th>Contract</th>
    <th colspan="3"><i>Actions</i></th>
  </tr>

<% @vehicles.each do |vehicle| %>
  <tr>
    <td><%= vehicle.vin %></td>
    <td><%= vehicle.vin_decoded %></td>
    <td><%= vehicle.license_plate %></td>
    <td>
      <% if vehicle.license_plate_state %>
        <%= vehicle.license_plate_state.name %>
      <% else %>
        <i>Unknown<i>
      <% end %>
    </td>
    <td>
      <%= vehicle.customer.first_name %> <%= vehicle.customer.last_name %>
    </td>
    <td><%= vehicle.make.name %></td>
    <td><%= vehicle.model.name unless vehicle.model.nil? %></td>
    <td>
      <% if vehicle.submodel %>
        <%= vehicle.submodel.name %>
      <% else %>
        <i>N/A</i>
      <% end %>
    </td>
    <td><%= vehicle.date_of_manufacture %></td>
    <td><%= countryOrUnk(vehicle) %></td>
    <td>$<%= number_with_precision(vehicle.msrp, precision: 0) %></td>
    <td>$<%= number_with_precision(vehicle.kbb_on_qual, precision: 0) %></td>
    <td>$<%= number_with_precision(vehicle.current_kbb, precision: 0) %></td>
    <td><%= vehicle.consumer_reports_url %></td>
    <td><%= vehicle.engine_cyl %></td>
    <td><%= vehicle.engine_displacement.name unless vehicle.engine_displacement.nil?%></td>
    <td><%= vehicle.wheel_drive.name unless vehicle.wheel_drive.nil? %></td>
    <td><%= vehicle.color.name %></td>
    <td><%= vehicle.doors %></td>
    <td><%= boolText(vehicle.convertible) %></td>
    <td><%= vehicle.service_schedule_id %></td>
    <td><%= vehicle.mileage %></td>
    <td><%= vehicle.mpg30after_initial %></td>
    <td><%= vehicle.qualification_id %></td>
    <td><%= boolText(vehicle.bg_compliant) %></td>
    <td><%= vehicle.contract_id %></td>
    <td><%= link_to 'Show', vehicle %></td>
    <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
    <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vehicle', new_vehicle_path %>
&nbsp; | &nbsp; <a href="/top/db">All DB tables</a>
