<p id="notice"><%= notice %></p>

<p>
  <b>Vin:</b>
  <%= @vehicle.vin %>
</p>

<p>
  <b>Vin decoded:</b>
  <%= @vehicle.vin_decoded %>
</p>

<p>
  <b>License plate:</b>
  <%= @vehicle.license_plate %>
</p>

<p>
  <b>License plate state:</b>
  <%= @vehicle.license_plate_state_id %>
</p>

<p>
  <b>Customer:</b>
  <%= @vehicle.customer_id %>
</p>

<p>
  <b>Make:</b>
  <%= @vehicle.make_id %>
</p>

<p>
  <b>Model:</b>
  <%= @vehicle.model_id %>
</p>

<p>
  <b>Submodel:</b>
  <%= @vehicle.submodel_id %>
</p>

<p>
  <b>Date of manufacture:</b>
  <%= @vehicle.date_of_manufacture %>
</p>

<p>
  <b>Country of manufacture:</b>
  <%= @vehicle.country_of_manufacture_id %>
</p>

<p>
  <b>Msrp:</b>
  <%= @vehicle.msrp %>
</p>

<p>
  <b>Kbb on qual:</b>
  <%= @vehicle.kbb_on_qual %>
</p>

<p>
  <b>Current kbb:</b>
  <%= @vehicle.current_kbb %>
</p>

<p>
  <b>Consumer reports url:</b>
  <%= @vehicle.consumer_reports_url %>
</p>

<p>
  <b>Engine cyl:</b>
  <%= @vehicle.engine_cyl %>
</p>

<p>
  <b>Engine displacement:</b>
  <%= @vehicle.engine_displacement_id %>
</p>

<p>
  <b>Wheel drive:</b>
  <%= @vehicle.wheel_drive_id %>
</p>

<p>
  <b>Color:</b>
  <%= @vehicle.color_id %>
</p>

<p>
  <b>Doors:</b>
  <%= @vehicle.doors %>
</p>

<p>
  <b>Convertible:</b>
  <%= @vehicle.convertible %>
</p>

<p>
  <b>Comments:</b>
  <%= @vehicle.comments %>
</p>

<p>
  <b>Service schedule:</b>
  <%= @vehicle.service_schedule_id %>
</p>

<p>
  <b>Insurance company:</b>
  <%= @vehicle.insurance_company_id %>
</p>

<p>
  <b>Insurance policy number:</b>
  <%= @vehicle.insurance_policy_number %>
</p>

<p>
  <b>Insurance image:</b>
  <%= @vehicle.insurance_image_id %>
</p>

<p>
  <b>Carfax url:</b>
  <%= @vehicle.carfax_url %>
</p>

<p>
  <b>Carfax copy at qual:</b>
  <%= @vehicle.carfax_copy_at_qual %>
</p>

<p>
  <b>Door plate image:</b>
  <%= @vehicle.door_plate_image_id %>
</p>

<p>
  <b>Mileage:</b>
  <%= @vehicle.mileage %>
</p>

<p>
  <b>Mpg30after initial:</b>
  <%= @vehicle.mpg30after_initial %>
</p>

<p>
  <b>Photos image:</b>
  <%= @vehicle.photos_image_id %>
</p>

<p>
  <b>Qualification:</b>
  <%= @vehicle.qualification_id %>
</p>

<p>
  <b>Bg compliant:</b>
  <%= @vehicle.bg_compliant %>
</p>

<p>
  <b>Contract:</b>
  <%= @vehicle.contract_id %>
</p>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
