<%= form_for(@service_line_item) do |f| %>
  <% if @service_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_line_item.errors.count, "error") %> prohibited this service_line_item from being saved:</h2>

      <ul>
      <% @service_line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if defined?(isGroundFloor) and isGroundFloor %>
    <input name="is_ground_floor" type="hidden" value="Y" />
    <B>Service visit for:</B>
    <% sv = @service_line_item.service_visit %>
    <%= sv.vehicle.ymmpText %> on
    <%= sv.sdate.strftime("%b %d, %Y") %>,
    <%= sv.mileage %> miles.
    &nbsp; &nbsp;
    <a href="/service_visits/gfedit2/<%= sv.id %>">Edit this service visit</a>
  <% else %>
    <% if defined?(given_visit) %>
      <input name="service_line_item[service_visit_id]" type="hidden" 
             value="<%= given_visit.id %>" />
    <% else %>
      <div class="field">
        <%= f.label :service_visit_id %><font color="#800000">*</font><br />
        <%= select("service_line_item", "service_visit_id", 
                      @serviceVisitCollect, {prompt: 'Select Service Visit'}) %>
      </div>
    <% end %>
  <% end %>
  <blockquote>
  One or both of the following are required:<font color="#800000">*</font>
  <div class="field">
    <%= f.label :service_description_id %><br />
    <%= select("service_line_item", "service_description_id", 
                                @serviceDescriptionCollect,
                                {prompt: 'Select Service Description'}) %>
  </div>
  <div class="field">
    <%= f.label :service_description_text %> (optional)<br />
    <%= f.text_field :service_description_text %>
  </div>
  </blockquote>
  <div class="field">
    <%= f.label :stype, 'Service Type' %>
    <font color="#800000">* Important - controls profit/loss</font>
    <br />
    <select id="service_line_item_stype" name="service_line_item[stype]">
      <%= options_for_select(@stypeOptions, @selStype) %>
    </select> <br />
  </div>
  <div class="field">
    <P>(You may add technicians and their hours later using Show.)</P>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
