<h1>Listing Service Line Items</h1>

<table border="1" class="ft_dbtab">
  <tr bgcolor="#F0FFF0">
    <th>Service visit</th>
    <th>Service description</th>
    <th>Service description text</th>
    <th>Type</th>
    <th><i>Actions</i></th>
  </tr>

<% @service_line_items.each do |service_line_item| %>
  <tr>
    <td><%= service_line_item.service_visit.visitText %></td>
    <td><%= service_line_item.service_description.name %></td>
    <td><%= service_line_item.service_description_text %></td>
    <td><%= stypeText(service_line_item.stype) %></td>
    <td><%= link_to 'Edit', 
             "/service_line_items/#{service_line_item.id}/gfedit" %></td>
  </tr>
<% end %>
</table>

<br />

<form action="service_visits/gfindex" style="display: inline;">
  <input type="submit" value="List Service Visits"> 
</form>
&nbsp; &nbsp; 
<%= link_to 'Back to Ground Floor', '/top/gf' %>
