<h2>Listing service_schedules</h2>

<P>
A vehicle points to one of these, and a collection of ScheduledServices
point back here (using this ID number).
</P>

<table border="1" class="ft_dbtab">
  <tr bgcolor="#F0FFF0">
    <th>ID</th>
    <th>Image</th>
    <th colspan="3"><i>Actions</i></th>
  </tr>

<% @service_schedules.each do |service_schedule| %>
  <tr>
    <td><%= service_schedule.id %></td>
    <td><%= service_schedule.image_id %></td>
    <td><%= link_to 'Show', service_schedule %></td>
    <td><%= link_to 'Edit', edit_service_schedule_path(service_schedule) %></td>
    <td><%= link_to 'Destroy', service_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service schedule', new_service_schedule_path %>
&nbsp; | &nbsp; <a href="/top/db">All DB tables</a>
