<%= form_for(@ts_band_recall) do |f| %>
  <% if @ts_band_recall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ts_band_recall.errors.count, "error") %> prohibited this ts_band_recall from being saved:</h2>

      <ul>
      <% @ts_band_recall.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vehicle_id %><font color="#800000">*</font><br />
    <%= select("ts_band_recall", "vehicle_id", @vehicleCollect,
                                                {prompt: 'Select Vehicle'}) %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <% if @ts_band_recall.date_completed %>
      <% dc_checked = 'checked="checked"' %>
    <% else %>
      <% dc_checked = '' %>
    <% end %>
    <%= f.label :date_completed %><br />
    Check if completed: 
    <input id="tsb_recall_completed" name="tsb_recall_completed" 
           <%= dc_checked %> type="checkbox" value="1" /> 
    <%= f.date_select :date_completed %> (if completed)
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
