<!DOCTYPE html>
<html>
<head>
  <title>Futuretech</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <% bgColr = '#ffffff' %>
  <% if @colorZone == 'DB' %>
    <% bgColr = '#fffaf0' %>
  <% end %>
  <% if @colorZone == 'GF' %>
    <% bgColr = '#f8fff8' %>
  <% end %>
  <% if @colorZone2 == 'DB' %>
    <% bgColr = '#fff4ff' %>
  <% end %>
  <% if @colorZone2 == 'GF' %>
    <% bgColr = '#f0fff0' %>
  <% end %>
  <% if params[:controller] == 'mockup' or params[:controller] == 'analytics' %>
    <%= stylesheet_link_tag 'mockup/mcommon' %>
    <%= stylesheet_link_tag 'mockup/mock' %>
    <%= stylesheet_link_tag 'mockup/bootstrap-popbase' %>
    <%= stylesheet_link_tag 'mockup/unoverride' %>
  <% end %>
  <%= javascript_include_tag "application" %>
  <% if params[:controller] == 'mockup' or params[:controller] == 'analytics' %>
    <%= javascript_include_tag 'mockup/bootstrap-tooltip' %>
    <%= javascript_include_tag 'mockup/bootstrap-popover' %>
  <% end %>
  <% if params[:controller] == 'mockup' %>
    <%= javascript_include_tag 'mockup/mockup' %>
    <% bgColr = '#fff0f0' %>
  <% end %>
  <% if params[:controller] == 'analytics' %>
    <%= javascript_include_tag 'intPopover' %>
  <% end %>
  <% if params[:controller] == 'service_visits' %>
    <%= javascript_include_tag 'genHideDisplay' %>
    <%= stylesheet_link_tag 'genHideDisplay' %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor="<%= bgColr %>">
<%= render :partial => 'layouts/headnav' %>
<%= render :partial => 'layouts/flash' %>

<%= yield %>

</body>
</html>
